/* unset blocks */
.custom-block .block-content {
    max-width:100%;
    padding:0;
}
.block.custom-block {
    padding-top:0;
    padding-bottom:0
}

/* sitewide code */
body {
    font:normal 15px/18px 'Karla', sans-serif;
    color:#77777A;
    background-color:#fff;
  }
strong {
    font-family: karla-bold;
}

/* nested in block to overrride other code! */
.block h1, .block .h1, .block h2, .block .h2, .block h3, .block .h3, .block h4, .block .h4, .block h5, .block .h5, .block h6, .block .h6 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
}
.block h1, .block .h1 {
    font-size: 70px;
    line-height: 82px;
}
.block h2, .block .h2 {
    font-size: 50px;
    line-height: 59px;
}
.block h3, .block .h3 {
    font-size: 40px;
    line-height: 45px;
}
.block h4, .block .h4 {
    font-size: 30px;
    line-height: 35px;
}
.block h5, .block .h5 {
    font-size: 25px;
    line-height: 29px;
}
.block h6, .block .h6 {
    font-size: 16px;
    line-height: 19px;
}
.block .jumbo-bg {
    font-family: 'Roboto Condensed';
    font-size: 100px;
    line-height: 117px;
    text-transform: uppercase;
}
.block .small {
    font-size: 13px;
    line-height: 20px;
}
.block .tiny {
    font-size: 10px;
    line-height: 12px;
}
.block .cover {
    object-fit: cover;
}
.block .text-width {
    max-width: 100%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* sitewide from bk code */
img {
    max-width:100%;
    object-fit:cover;
}
.hr {
    width: 50px;
    height:2px;
    margin-bottom:1rem;
}
.bg-grey {
    background-color:#f8f8f8;
}
.bg-dark-blue {
    background-color:#1F2E3F;
    color:#fff;
}
.bg-orange {
    background-color:#EF7431;
    color:#fff;
}
.bg-white {
    color:#000;
    background-color:#fff;
}
.bg-light-orange {
    background-color:#FAF2EB;
}
.orange {
    color:#EF7431
}
.btn-fix {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    padding:0 35px;
    font-size:12px;
}
.btn-fix:hover {
    text-decoration:none;
    color:initial;
}
.btn-fix.large {
    height:40px;
}
.btn-fix.smaller {
    height:30px
}
.btn-inner {
    line-height: 1;
    margin:0;
}

/* sitewide code PA code */
.btn-hover {
    overflow: hidden;
    position: relative;
}
.btn-hover:before {
    content: "";
    background: rgba(255,255,255,.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 400px;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    -webkit-transition: -webkit-transform .7s;
    transition: transform .7s;
}
.btn-hover:hover:before {
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,120%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,120%,0);
}

/* template blocks code */
.hero-video {
    height: 100vh;
}

.text-and-cols .col-md-4 h4 {
    font-size: 23px;
}

#mc_embed_signup input:not(.btn-fix) {
    min-height: 50px;
    font-size: 14px;
}
.background-text:before {
    content: "ADVENTURE";
    position: absolute;
    font-family: 'Roboto Condensed';
    font-size: 140px;
    line-height: 117px;
    letter-spacing: 20px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    bottom: 80px;
    left: 0;
    color: rgba(0,0,0,.05);
}