/* unset blocks */
.custom-block .block-content {
    max-width:100%;
    padding:0;
}
.block.custom-block {
    padding-top:0;
    padding-bottom:0
}

/* sitewide code */
.cover {
    object-fit: cover;
}
.text-width {
    max-width: 100%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* blocks code */
.hero-video {
    height: 100vh;
}


/* copied from bk product code */
body {
  font:normal 15px/18px 'Karla', sans-serif;
  color:#77777A;
  background-color:#fff;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family:'Roboto Condensed', sans-serif;
  letter-spacing:1px;
  text-transform:uppercase;
  color:#000;
}

h1, .h1 {
  font-size:70px;
  line-height: 82px;
}
h2, .h2 {
  font-size:50px;
  line-height: 59px;
}
h4, .h4 {
  font-size:30px;
  line-height: 35px;
}
h5, .h5 {
  font-size:25px;
  line-height: 29px;
}
h6, .h6 {
  font-size:16px;
  line-height: 19px;
}
.jumbo-bg {
  font-family:'Roboto Condensed';
  font-size:100px;
  line-height: 117px;
  text-transform:uppercase
}
.small {
  font-size:13px;
  line-height: 20px;
}
.tiny {
  font-size:10px;
  line-height: 12px;
}

/* Sitewide Stuff */

img {
  max-width:100%;
  object-fit:cover;
}

.hr {
  width: 50px;
  height:2px;
  margin-bottom:1rem;
}

.bg-grey {
  background-color:#f8f8f8;
}
.bg-dark-blue {
  background-color:#1F2E3F;
  color:#fff;
}
.bg-orange {
  background-color:#EF7431;
  color:#fff;
}
.bg-white {
  color:#000;
  background-color:#fff;
}
.bg-light-orange {
  background-color:#FAF2EB;
}

.orange {
  color:#EF7431
}

.btn-fix {
  display:inline-flex;
  align-items: center;
  justify-content: center;
  width:fit-content;
  padding:0 35px;
  font-size:12px;
}
.btn-fix:hover {
  text-decoration:none;
  color:initial;
}
.btn-fix.large {
  height:40px;
}
.btn-fix.smaller {
  height:30px
}
.btn-inner {
  line-height: 1;
  margin:0;
}