/* unset blocks */
.custom-block .block-content {
    max-width:100%;
    padding:0;
}
.block.custom-block {
    padding-top:0;
    padding-bottom:0
}

/* sitewide code */
body {
    font:normal 15px/18px 'Karla', sans-serif;
    color:#77777A;
    background-color:#fff;
  }
strong {
    font-family: karla-bold;
}

/* nested in block to overrride other code! */
.block h1, .block .h1, .block h2, .block .h2, .block h3, .block .h3, .block h4, .block .h4, .block h5, .block .h5, .block h6, .block .h6 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
}
.block h1, .block .h1 {
    font-size: 70px;
    line-height: 82px;
}
.block h2, .block .h2 {
    font-size: 50px;
    line-height: 59px;
}
.block h3, .block .h3 {
    font-size: 40px;
    line-height: 45px;
}
.block h4, .block .h4 {
    font-size: 30px;
    line-height: 35px;
}
.block h5, .block .h5 {
    font-size: 25px;
    line-height: 29px;
}
.block h6, .block .h6 {
    font-size: 16px;
    line-height: 19px;
}
.block .jumbo-bg {
    font-family: 'Roboto Condensed';
    font-size: 100px;
    line-height: 117px;
    text-transform: uppercase;
}
.block .small {
    font-size: 13px;
    line-height: 20px;
}
.block .tiny {
    font-size: 10px;
    line-height: 12px;
}
.block .cover {
    object-fit: cover;
}
.block .text-width {
    max-width: 100%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* sitewide from bk code */
img {
    max-width:100%;
    object-fit:cover;
}
.hr {
    width: 50px;
    height:2px;
    margin-bottom:1rem;
}
.bg-grey {
    background-color:#f8f8f8;
}
.bg-dark-blue {
    background-color:#1F2E3F;
    color:#fff;
}
.bg-orange {
    background-color:#EF7431;
    color:#fff;
}
.bg-white {
    color:#000;
    background-color:#fff;
}
.bg-light-orange {
    background-color:#FAF2EB;
}
.orange {
    color:#EF7431
}
.text-black {
	color: #000;
}
.text-grey {
	color: #77777A;
}
.btn-fix {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    padding:0 35px;
    font-size:12px;
}
.btn-fix:hover {
    text-decoration:none;
    color:initial;
}
.btn-fix.large {
    height:40px;
}
.btn-fix.smaller {
    height:30px
}
.btn-inner {
    line-height: 1;
    margin:0;
}

/* sitewide code PA code */
.btn-hover {
    overflow: hidden;
    position: relative;
    font-family: karla-bold;
}
.btn-hover:before {
    content: "";
    background: rgba(255,255,255,.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 400px;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    -webkit-transition: -webkit-transform .7s;
    transition: transform .7s;
}
.btn-hover:hover:before {
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,120%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,120%,0);
}

/* template blocks code */
.hero-video {
    height: 120vh;
}
.hero-video .overlay-logo {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.text-and-cols .col-md-4 h4 {
    font-size: 23px;
}

.text-and-2cols .col-md-4 h4 {
    font-size: 23px;
}


.hero-block {
    height: 65vh;
    margin-top: 3rem;
}
.hero-block h1, .hero-block h2, .hero-block h3, .hero-block h4, .hero-block p {
    color: #fff !important;
}
.hero-block h1 {
    font-size: 80px;
}

.grid .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "cell1 cell2" "cell3 cell4" "cell5 cell6";
  }
  .grid .cell1 { grid-area: cell1; }
  .grid .cell2 { grid-area: cell2; }
  .grid .cell3 { grid-area: cell3; }
  .grid .cell4 { grid-area: cell4; }
  .grid .cell5 { grid-area: cell5; }
  .grid .cell6 { grid-area: cell6; }
  .grid-inner {
      padding: 35px 0;
  }
  .grid-inner h5 {
      font-size: 15px;
  }
  .cell:nth-of-type(odd) .grid-inner {
    padding-right: 100px;
  }
  .cell:nth-of-type(even) .grid-inner {
    padding-left: 100px;
  }
  .grid h1, .grid h2, .grid h3, .grid h4, .grid h5, .grid h6, .grid p {
    color: #fff !important;
  }

@media screen and (max-width: 700px) {
    .grid-container {
        padding: 15px;
    }
    .grid .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "cell1" "cell2" "cell3" "cell4" "cell5" "cell6";
      }
    .cell:nth-of-type(odd) .grid-inner {
        padding-right: 0px;
    }
    .cell:nth-of-type(even) .grid-inner {
        padding-left: 0px;
    }
    .grid-inner {
        padding: 10px 0;
    }
}

.full-height-hero-block {
    height: 100vh;
}

.team-block img {
    object-fit: contain;
    padding: 0 20px;
}
.team-block h1 {
    font-size: 35px;
    line-height: 35px;
}
.team-block h2 {
    font-size: 30px;
    line-height: 35px;
}
.team-block h3 {
    font-size: 22px;
    line-height: 25px;
}
.quote-block em {
    font-size: 1.3rem;
}

/* misc code - block specific */
#mc_embed_signup input:not(.btn-fix) {
    min-height: 50px;
    font-size: 14px;
}
.background-text:before {
    content: "ADVENTURE";
    position: absolute;
    font-family: 'Roboto Condensed';
    font-size: 140px;
    line-height: 117px;
    letter-spacing: 20px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    bottom: 80px;
    left: 0;
    color: rgba(0,0,0,.05);
}
#block-wfa .text-and-2cols {
    padding-bottom: 300px;
    background-size: 100% auto;
    background-color: white;
}
.accordion-block h2 {
    font-size: 30px;
}
.accordion-block h4 {
    font-size: 18px;
    margin: 10px !important;
}
.block-content .accordion-entry {
    border:none;
    background-color: transparent;
}
.collapsible-segment .fa-chevron-right:before {
    content: "\f067";
    color: #EF7431;
}
#block-idt h1, #block-idt h2, #block-idt h3, #block-idt h4, #block-idt h5, #block-idt h6, #block-idt p, #block-idt a  {
    color: #fff !important;
}
#block-idt hr {
    border-top: solid 3px #fff;
    width: 60px;
    margin: 2.5rem auto;
}
#block-idt h4  {
    font-family: Karla-regular;
    text-transform: none;
    margin-bottom: 2rem;
    font-size: 45px;
}


#block-wfa h4 {
    min-height: 70px;
}
#block-wfa .text-width h4 {
    font-size: 1.4rem;
    line-height: 1.1;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#block-wfa .text-width p {
    font-size: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 700px) {
    #block-wfa .text-width p {
    font-size: 16px;
    }
}
@media only screen and (min-width: 700px) {
    .grid-container {
        border-color: #75787b;
    }
    .grid-inner {
        max-width: 550px;
        padding-top: 80px;
        padding-bottom: 30px;
    }
    .cell1 .grid-inner, .cell3 .grid-inner, .cell5 .grid-inner {
        margin-left: auto;
    }
    .grid-container .cell1 {
        border-top: solid 1px;
        border-right: solid 1px;
        border-bottom: solid 1px;
    }
    .grid-container .cell3, .grid-container .cell5 {
        border-right: solid 1px;
        border-bottom: solid 1px;
    }
    .grid-container .cell2 {
        border-top: solid 1px;
        border-bottom: solid 1px;
    }
    .grid-container .cell4, .grid-container .cell6 {
        border-bottom: solid 1px;
    }
}

@media screen and (max-width: 700px) {
    .hero-video h3 {
        font-size: 1.6rem;
        line-height: 1.2;
        margin-top: 30px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .background-text:before {
    content: "";
    }
    .hero-block h1 {
        font-size: 2.25rem;
    }
    .hero-block {
        height: 300px;
    }
    .hero-block a.btn-hover {
        margin-top: 0 !important;
    }
    .text-and-2cols h4 {
        font-size: 1.4rem; 
        line-height: 1.3;
        margin-bottom: 1rem;
    }
    .text-and-2cols div.col-md-6 {
        margin-bottom: 2rem;
    }
    .text-and-2cols li {
        text-align: left;
    }
    #block-wfa .text-and-2cols {
    padding-bottom: 50px;
    }
    .grid h3 {
        font-size: 1.6rem;
    }
    .text-block h4 {
        font-size: 1.6rem;
    }
    .quote-block .container {
        padding: 20px;
    }
    .quote-block .container div.py-5 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .quote-block em {
        font-size: 1rem;
    }
    .video-block iframe {
        width: 100%;
        height: 60vw;
    }
    .text-and-cols h4 {
        font-size: 1.6rem;
        line-height: 1.3;
    }
    .team-block h1 {
        font-size: 1.8rem
    }
    .team-block img {
        padding: 0 10px;
    }
    .team-block .bio-inner {
        padding: 0 10px;
    }
    .accordion-entry h4 {
        line-height: 1.2;
    }
    .text-block h3 {
        font-size: 1.8rem
    }
    .full-height-hero-block {
        height: 95vh !important;
    }
    .full-height-hero-block img {
        max-width: 60%;
    }
    .full-height-hero-block h3 {
        font-size: 1.8rem;
        line-height: 1.3;
    }
    #block-2fw {
        display: none;
    }
    .text-and-video h4 {
        font-size: 1.6rem;
    } 
    .text-and-video h5 {
        font-size: 1.4rem;
    } 
    #retreat-row {
        justify-content: center;
    }
}
#block-rr2 .col-md-6 p {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
#block-rr2 ul {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.swiper-container {
    z-index: 0 !important;
}
#block-uhg #_form_3_._inline-style {
    width: auto;
    display: inline-block;
    color: #000;
    font-size: 14px;
}
#block-uhg #_form_3_ ._inline-style {
    float: left;
}
#block-uhg #_form_3_ ._form_element {
    position: relative;
    margin: 10px;
    max-width: 100%;
}
#block-uhg #_form_3_._inline-style ._button-wrapper {
    position: relative;
    margin: 27px 12.5px 0 20px;
}
#block-uhg #_form_3_ input[type="text"], #_form_3_ input[type="date"], #_form_3_ textarea {
    padding: 6px;
    height: auto;
    border: #979797 1px solid;
    border-radius: 4px;
    color: #000 !important;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#block-uhg #_form_3_ label {
    font-family: karla-bold;
}
#block-3e3 img {
    max-width: 80px;
    object-fit: contain !important;
}
form#_form_5DB99979610BB_ {
    background-color: #EF7431 !important;
    margin-top: -1px;
    padding-bottom: 3rem;
    width: 100%;
}
form#_form_5DB99979610BB_ ._form-content {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#block-s3z .header-text h3 {
    font-size: 2rem;
    line-height: 1;
}
#block-s3z .header-text h4 {
    font-size: 1.6rem;
    color: #ef7431;
}
@media only screen and (max-width: 700px) { 
    #block-uhg form {
        text-align: center;
    }
    #block-uhg #_form_3_ ._form_element {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
    }
    #block-uhg #_form_3_ ._inline-style {
    float: none;
    }
    #block-uhg #_form_3_ input[type="text"], #_form_3_ input[type="date"], #_form_3_ textarea {
        width: 200px;
        text-align: center;
    }
    #block-s3z #mc-embedded-subscribe-form h6 {
        text-align: center;
    }
    #block-s3z .col-12.col-md-auto.pb-3 {
        text-align: center;
    }
    #block-s3z .header-text h3 {
        font-size: 1.4rem;
        line-height: 1;
    }
    #block-s3z .header-text h4 {
        display: none;
    }
}

/* filter page */
.filter-box select {
    border:none;
    -webkit-appearance:none;
    outline:none;
    font-family: Karla-bold;
    color: #000;
    background-color: transparent;
  }
  .select-container {
    display:inline-block;
    padding: 10px 30px;
    background: #fff;
    border-right: 1px solid #77777A;
    text-align: center;
  }
  .select-container p {
      font-family: Roboto Condensed;
  }
  .product-card {
    width: 269px;
    }
    .product-card img {
        height: 170px;
        width: 100%;
        object-size: cover;
    }
    .product-card .product-card-overlay {
        top: 150px;
        left: 20px;
    }
    .product-card .product-card-overlay .product-card-price {
        background-color: #002A3A;
        padding: 4px;
        color: #fff;
    }
    .product-card .product-card-overlay .product-card-discount {
        background-color: #fff;
        padding: 4px;
        color: #000;
    }
    .label {
        font-family: "Roboto Condensed";
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }