/* GENERAL */
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2.2rem;
}
strong {
    font-family: ptsans-bold;
}
#block-utt, #block-hyy, #block-ssz, #block-thd, #block-jqt {
    padding-bottom: 0;
}
hr {
    padding-bottom: 3rem;
}

/* MENU */
#menu {
    background-color: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
#menu .navbar-brand {
    margin-left: auto;
    margin-right: auto;
}
#menu .navbar-brand img {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
#menu-cta {
    position: absolute;
    right: 20px;
}


/* HERO */
#block-pxd {
    color: #fff;
    padding: 0;
    height: 600px !important;
}
#block-pxd .block-content {
    background-color: rgba(0,0,0,0.15);
    max-width: 100%;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
#block-pxd p {
    font-size: 1.5rem !important;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

/* PRODUCTS */
#block-osl, #block-7vi {
    padding: 0;
}
#block-osl .block-content, #block-7vi .block-content {
    max-width: 100%;
    padding: 0;
}
#block-osl img, #block-7vi img  {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    position: relative;
}
#block-osl .col-md-4, #block-7vi .col-md-6 {
    padding: 8px !important;
}
#block-osl .overlay-text, #block-7vi .overlay-text {
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  transition: .5s ease;
  color: #fff;
  text-align: center;
  background-color: rgba(0,0,0,0.1) !important;
  color: #fff;
}
#block-osl .btn, #block-7vi .btn {
    margin-top: 1rem;
}
#block-osl .inner-text, #block-7vi .inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: auto;
}

/* FOUNDER */
#block-yx8 .col-text {
    max-width: 500px;
}
#block-yx8 img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#block-yx8 .col-text {
    background-color: #fff;
}
/* PARTNERS */
#block-ssz .image-grid-entry {
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
}
#block-ssz .faux-image {
    background-size: contain;
}

/* MAILCHIMP */
#mergeRow-gdpr {
    display: none;
}

/* FOOTER */
#footer {
    margin-top: 5rem;
    border-top: solid 1px #f7f7f9;
}
#footer > div.w-100.text-center > a > svg {
    display: none;
}
#footer > div.w-100.text-center > a:after {
    content: "Created on Fixers";
}
#footer a {
    color: #fff;
}

/* ALL RETREATS */
.hero-product-block .card-img {
    height: 35vw;
    object-fit: cover;
    object-position: center;
    max-height: 450px;
}
.dual-product-block .card-img {
    height: 25vw;
    object-fit: cover;
    object-position: center;
    max-height: 360px;
}
#block-msl {
    background-color: #7d9aaa;
    color: #fff;
}

/* PRODUCT PAGE */
.product-hero {
    height: 500px !important;
}
.block-background .col-8.offset-md-4 {
    margin-left: 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 3rem;
}
.product-overview {
    text-align: justify;
}
section hr {
    border-color: #7d9aaa !important;
}
.listing-overview {
    background-color: #fff;
    padding: 1rem;
}
.listing-overview h6 {
    font-size: 1.5rem;
}
.host-card {
    text-align: justify;
}
.accommodation_information {
    background-color: #fff;
    padding: 1rem;
}
.gallery-figure img {
    max-height: 400px;
    object-fit: cover;
}

/* FIX OVERLAY ISSUE */
.listing-highlight-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    color: #fff;
    display: none;
    background: rgba(0,0,0,0.4);
}
.listing-highlight:hover .listing-highlight-overlay {
    display: block !important;
}
.listing-highlight:hover .card-img-overlay {
    display: none !important;
}
.listing-highlight .card-img {
    max-height: 30vw !important;
    object-fit: cover;
    object-position: center;
}


@media only screen and (max-width: 991px) {
    .listing-highlight .card-img {
        max-height: 70vw !important;
    }
}

/* MOBILE */
@media only screen and (max-width: 991px) {
    p {
        font-size: 1rem;
    }
    .navbar-toggler {
        display: none
    }
    #menu .navbar-brand {
        margin-left: 0px;
    }
    #block-osl img, #block-7vi img {
        height: 100vw;
    }
    #block-yx8 .col-text {
        margin-top: 3rem;
    }
    .hero-product-block .card-img, .dual-product-block .card-img {
        height: 60vw;
    }
    .hero-product-block .card-title, .dual-product-block .card-title {
        font-size: 2rem;
    }
    .dual-product-block div.col-4.text-right.d-flex.flex-column.justify-content-center {
        padding: 0;
    }
    #block-yx8 .col-text {
        background-color: transparent;
    }
}