
/*START */
h1, h2, h3, p, .h1, .h2, .h3, a{
  color: #fff;
}

.navbar-nav{
justify-content: space-evenly;
width: 100%;
}

a.navbar-brand{
margin-left: auto;
margin-right: auto;
}

a.navbar-brand img{
height: 100px;
}

nav#menu{
height: 180px;
}

nav#menu .container{
display: flex;
flex-flow: row wrap;
align-self: flex-start;
}

#menu-navbar{
flex-basis: 100%;
width: 0px;
height: 0px;
justify-content: space-between;
}

#menu .nav-link{
margin-top: 50px;
text-transform: uppercase;
}

#menu-cta{
position: absolute;
right: 50px;
}

#menu-social-links{
display: none
}

.hero-image-block{
height: 100vh !important;
color: #fff;
}
.hero-image-block:first-of-type{
  margin-top: -180px;
}
.hero-image-block:last-of-type{
height: 60vh !important;
}

#menu-navbar a{
  color: #fff;
}

.btn-outline-primary{
  color: #fff;
  border-color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: inherit 20px;
}

.text-block{
  padding: 50px 0;
}

.text-block p{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  line-height: 2rem;
}

#block-sap .block-content, #block-abs .block-content, #block-uij .block-content{
  max-width: 80vw !important;
}
#block-sap .text-center, #block-uij .text-center{
  text-align: left !important;
}

#block-abs .text-center{
  text-align: right !important;
}

#block-sdf{
  background-color: #70C1C5;
}

.review-content{
  margin-top: 5rem;
}

.review-content h2{
  margin-bottom: 2rem;
}

.subscription-block .btn-primary{
  background: none;
  color: #fff;
  border-color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: inherit 40px;
}

/*GALLERY*/

.gallery-figure {
  display: block;
  box-sizing: content-box;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.gallery-figure img {
  width: 100%;
  height: auto;
}
  
.gallery-figure-row {
padding-left: 30px ;
}
.gallery-figure {
  float: left;
  padding: 15px;
  margin: 0;
}

.gallery-figure:first-child{
      padding-left: 0;
      margin-left: -30px;
    }

.gallery-figure:last-child { 
  padding-right: 0; 
}
.full-image {
  padding-left: 0;
  padding-right: 0;
}

.gallery-figure-row::after {
  display: block;
  clear: both;
  content: "";
}

div#gallery{
  overflow: auto;
}

div#gallery img{
    vertical-align: middle;
}

  /*MOBILE STYLES*/
  
  @media only screen and (min-width: 769px) {
  #block-pm2 p{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  } 
  }
  