/*HOME PAGE*/

#block-sdf{
  background-color: #70C1C5;
}

/*MOBILE STYLES*/
  
@media only screen and (min-width: 769px) {
  #block-pm2 p{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  } 
  }
  