/*NAV*/
nav#menu .navbar-nav{
    justify-content: space-evenly;
    justify-content: space-around;
    width: 100%;
    }
    
    nav#menu a.navbar-brand{
    margin-left: auto;
    margin-right: auto;
    }
    
    nav#menu a.navbar-brand img{
    height: 100px;
    }
    
    nav#menu .container{
    display: flex;
    flex-flow: row wrap;
    align-self: flex-start;
    }
    
    #menu-navbar{
    flex-basis: 100%;
    width: 0px;
    height: auto;
    justify-content: space-between;
    margin-top: 50px;
    }

    /*BLOCKS*/

    /*HERO IMAGE BLOCK*/
    .hero-image-block h1,
    .hero-image-block h2,
    .hero-image-block p{
        color: #fff;
    }

  
    /*SUBSCRIBE*/
    #mergeRow-gdpr{
        display: none !important;
    }

    /*YOUTUBE*/
    .youtube-container{
        text-align: center;
    }

    /*FOOTER*/

    #footer{
        height: 250px;
        background-color: #081359 !important;
    }

    #footer .nav-link{
        color: #fff !important;
    }

    .fixers-stamp,
    #footer .navbar-brand{
        -webkit-filter: invert(100%) !important;
    }

    #footer .fa{
        color: #fff;
    }

    .fixers-stamp{
        position: absolute;
        bottom: 10px;
    }

    #footer .navbar-nav{
        margin-left: auto;
        margin-right: auto;
    }


#footer .w-100:after{
    content:"+34-611 20 53 67 • APARTADO CORREOS 418, 07800 IBIZA, ESPANA";
    display: block;
    color: white;
    margin-top: 50px;
}

