/* Style Changes */

#app, .site-shop-nav {
  font-family:'AGaramondPro-Regular', serif;
}
#app h1, #app h2, #app h3, #app h4, #app h5, #app h6, #app .h1, #app .h2, #app .h3, #app .h4, #app .h5, #app .h6 {
  text-transform:uppercase;
  font-family:'AGaramondPro-Bold', serif;
}
#app .bookable-list-item * {
  font-family:'DINCondensed-Bold', sans-serif !important;
  font-weight:bold;
}
#app .bookable-list-item i:before {
  font-family:'Fixers Icons';
}
#app .cart-footer .btn {
  color:#fff !important;
  background:#000 !important;
  border-color:#000 !important;
  font-family:'DINCondensed-Bold', sans-serif !important;
}
.navbar-full {
    justify-content:center;
}
.navbar-full .logo {
   display:none !important
}
.navbar-full .navbar-brand:before {
  content: '';
  width: 8rem;
  height: 4rem;
  background-image: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Akasha+Wellness+Retreats/img/Akasha_Logo.png);
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
}
#app {
  background:#f7f7f9;
}
#app .block-background {
  z-index:0;
}

/* Fix Nav on Mobile */

#cart-shop-nav-mobile .nav-link {
  padding:0 !important;
  margin-right:0 !important;
  font-size:0.9rem !important;
}
@media (max-width:600px) {
  .cart-shop-navbar.sticky {
    position:static;
  }
}
