/* Style Changes */



/* Set fonts for entire shop including ones forced in other CSS files */

#app, .site-shop-nav {
  font-family:'Twcenmtstd-light', serif;
}
#app h1, #app h2, #app h3, #app h4, #app h5, #app h6, #app .h1, #app .h2, #app .h3, #app .h4, #app .h5, #app .h6 {
  text-transform:uppercase;
  font-family:'Chronicle-display-light', serif;
}
#app .bookable-list-item *, #app .factual {
  font-family:'Twcenmtstd-light', sans-serif !important;
  color:#000;
}
#app .bookable-list-item i:before {
  font-family:'Fixers Icons';
}
#app .cart-footer .btn {
  color:#fff !important;
  background:#000 !important;
  border-color:#000 !important;
  font-family:'Twcenmtstd-light', sans-serif !important;
}

/* Set button colors */

#app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link.active {
  background-color:#000;
  color:#fff;
}
#app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link.active:before {
  border-color:#000;
}
#app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link.active:after {
  border-left-color:#000;
}

/* Hide default logo and add one centered in middle of nav */

.navbar-full {
    justify-content:center;
}
.navbar-full .logo {
   display:none !important
}
.navbar-full .navbar-brand:before {
  content: '';
  width: 8rem;
  height: 4rem;
  background-image: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Akasha+Wellness+Retreats/img/Akasha_Logo.png);
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
}

/* Set background color and fix tile hidden by that */

#app {
  background:#f7f7f9;
}
#app .block-background {
  z-index:0;
}

/* Chevron Colors */

#app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link:hover {
  background-color:#000;
  color:#fff;
}
#app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link:hover:before {
  background-color:#fff;
  border-color:#000;
}
#app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link:hover:after {
  border-left-color:#000;
}
#app .cart-shop-navbar .nav.nav-chevrons .nav-item:nth-child(even) .nav-link:before {
  border-left-color:transparent
}
#app .bookable-list-item:before {
  background-color:#000;
}

/* Fix width of cart for longer sub elements (/room or prices in the 1000's) */

@media (min-width:768px) {
  #app .cart-body .col-10 {
    flex:0 0 38%;
    max-width:38%
  }
}

/*Footer*/
ul.list-inline.footer-social-list.my-4,
.footer-list a,
.footer-list,
.logo-mark.x2, 
.footer-list{
  display: none;
}

.footer-main{
    background-color: #B0B0B0 !important;
}

footer > article > ul.list-inline.text-uppercase.mb-4 > li > small > a{
  color: black !important;
}

.footer-main .block-content:before {   
  content: '';
      width: 20rem;
      height: 10rem;
      background-image: url(https://canvas-themes.s3-eu-west-1.amazonaws.com/Seller+Sites/Akasha+Wellness+Retreats/img/Akasha_Logo.png);
      background-size: contain;
      display: block;
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: auto;
    }

/* Fix Nav on Mobile */

#cart-shop-nav-mobile .nav-link {
  padding:0 !important;
  margin-right:0 !important;
  font-size:0.9rem !important;
}
#cart-shop-nav-mobile .nav.nav-chevrons .nav-item {
  float:left !important;
  width:100%;
}
@media (max-width:600px) {
  .cart-shop-navbar.sticky {
    position:static;
  }
}
