.newprice {
    color: #800000;
    font-family: Twcenmtstd;
}

/* MENU + FOOTER */

#menu.scrolled {
    display: none;
}
#menu {
	font-family: Twcenmtstd-light;
  background-color: #fff;
  color: #000;
}
#menu .nav-link {
	color: #000;
}
#menu .navbar-collapse.row {
    max-width: 1000px;
}
#menu .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
#menu.show {
    background-color: #fff;
}
#menu.show .nav-link {
    color: #000;
}
#menu.show .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

#navbarNav .nav-button {
    position: absolute;
    right: 20px;
}
#footer .footer-text {
    text-align: center;
    line-height: 1;
    max-width: 300px;
    font-family: Domainedisp-regular;
}
#footer #mce-EMAIL {
    font-family: Twcenmtstd-light;
    border: none;
    border-bottom: solid 1px #000;
    text-align: center;
    width: 14rem;
}
#fixers-stamp {
    color: rgb(209, 125, 116);
}
#footer #mc-embedded-subscribe {
    font-family: Twcenmtstd-light;
    border-bottom: solid 1px #000;
    padding-left: 0;
    padding-right: 0;
}
#footer #mce-EMAIL:focus {
    box-shadow: none;
}
@media only screen and (max-width: 600px) {
    #mc-embedded-subscribe {
        background-color: transparent !important;
        width: auto !important;
        padding-top: 20px;
    }
    #mce-EMAIL {
        text-align: center;
    }
  }
@media only screen and (max-width: 991.98px) {
    #footer #mce-EMAIL {
        width: 80% !important;
    }
  	#navbarNav > .nav-button {
    		position: static;
    		right: auto;
        }
    #menu .nav-cta {
            margin-right: 0;
    }
}
#fixers-stamp a {
    color: rgb(209, 125, 116);
    font-family: Twcenmtstd-light;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
}
/* MENU + FOOTER */

/* RETREAT CENTER PAGE */

.divider {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}
#block-qse {
    padding-bottom: 0;
    padding-top: 5rem;
}
#block-49i, #block-vl9, #block-1vv, #block-qxt {
    padding-bottom: 0;
}

/* HERO */
.hero-image-block {
    padding-top: 100px !important;
    height: 700px !important;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: #fff !important;
}
.hero-image-block h1 {
  	font-size: 2.6rem;
    letter-spacing: 1px;
    line-height: 1.4;
}
.hero-image-block h4 {
    font-size: 1.0rem;
    line-height: 1;
    font-family: Twcenmtstd-light;
}
.hero-image-block h3 {
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: Twcenmtstd-light;
}
/* HERO */

/* JUMP BAR */
#block-sew {
    padding: 0;
}
#block-sew .block-content {
    max-width: none;
    padding: 0;
}
#block-sew #jump-bar.stuck {
    position: fixed;
    top: 0px;
    left: 0px;
}
#block-sew #jump-bar {
  z-index: 2000;
  background-color:#f7f7f9;
  padding:.5rem 0;
  width: 100%;
  font-family: Twcenmtstd-light;
}
#block-sew #jump-bar a {
  padding: .5rem 1.4rem;
  font-size:12px;
  text-transform:uppercase;
  color: #000;
}
#block-sew #jump-bar a:hover {
  text-decoration:none;
}
#block-sew #jump-bar a.active {
  text-decoration: underline;
}
/* JUMP BAR */

/* TEXT BLOCK */

.text-block {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
}
.text-block h2, .section-header {
    text-align: center;
    line-height: 1.4;
    padding-bottom: 1rem;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}
.text-block h4, .section-subheader {
    text-align: center;
    line-height: 1;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  	font-family: Twcenmtstd-light;
  	font-size:12px;
}
.text-block p, .section-text {
    text-align: justify;
    line-height: 1.6;
    font-size: 1rem;
  	font-family: Twcenmtstd-light;
}
.text-block a, .section-link {
    font-family: Twcenmtstd-light;
    border-bottom: solid 1px #000;
    font-size: 0.9rem;
    line-height: 1.4;
    padding-bottom: 3px;
  	margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
}
.text-block a:hover, .section-link:hover {
    text-decoration: none;
}
/* TEXT BLOCK */

.section-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

/* IMAGE1 */
#image1 .row {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.dual-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 450px;
}
/* IMAGE1 */

/* ROOMS */
#rooms .row {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.room-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
 	 	max-width: 500px;
    height: 350px;
    margin-bottom: 2rem;
}
.room-text {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 600px) {
    .room-image {
        height: 220px;
    }
}
/* ROOMS */

/* GALLERY */
#block-ksv .block-content, #block-qed .block-content {
    max-width: none;
    padding: 0;
}
#block-qed .swiper-slide {
    height: 415px !important;
}
#gallery .swiper-slide {
    width: 500px !important;
    height: 400px !important;
}
.swiper-slide img {
   width: 100%;
   height: 350px;
   object-fit: cover;
   object-position: center;
}
#gallery .swiper-button-next, #gallery .swiper-button-prev {
  position: absolute;
  bottom: 50%;
  top: auto;
  height: 20px;
  cursor: pointer;
  background-size: 27px 20px;
}
#gallery .swiper-button-next {
  right: 2%;
  left: auto;
}
#gallery .swiper-button-prev {
  left: 2%;
  right: auto;
}
@media only screen and (max-width: 600px) {
  #gallery .swiper-button-next {
      right: 2%;
      left: auto;
  }
  #gallery .swiper-button-prev {
      left: 2%;
      right: auto;
  }
    #gallery .swiper-slide {
      width: 100vw !important;
      height: 300px !important;
  }
  #gallery .swiper-slide img {
      height: 250px;
  }
}
#gallery .swiper-pagination-bullet {
  width: 3px !important;
  height: 3px !important;
  margin-bottom: 3px !important;
  background-color: rgb(51,51,51) !important;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: -moz-transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: -o-transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#gallery .swiper-pagination-bullet-active {
  margin-bottom: 0px !important;
  width: 9px !important;
  height: 9px !important;
  background-color: #000 !important;
}
/* GALLERY */

/* UPCOMING */
#upcoming .row {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.retreat-img {
    object-fit: cover;
    object-position: center;
    max-width: 220px;
 		width: 100%;
    height: 150px;
    margin-bottom: 2rem;
}
.retreat-seg {
    margin-bottom: 0;
  	font-family: Twcenmtstd-light;
  	font-size:12px;
}
.retreat-name {
    font-size: 1.2rem;
    min-height: 50px;
}
.retreat-link {
    font-family: Twcenmtstd-light;
    border-bottom: solid 1px #000;
    font-size: 0.9rem;
    line-height: 1.4;
    padding-bottom: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    position: absolute;
    bottom: 20px;
}
.retreat-link:hover {
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
	.retreat-link {
    position: static;
	}
	.retreat-text {
    padding: 0;
	}
  .retreat-img {
    height: 200px;
	}
}
/* UPCOMING */

/* VENUE HIRE */
.inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: auto;
}
#block-3wx img {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#block-3wx .wellness-text {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
/* VENUE HIRE */

/* RETREAT CENTRE PAGE */

/* HOMEPAGE */

/* VIDEO */
#block-jzy {
    padding-top: 100px;
}
#block-jzy .block-content {
    max-width: none;
    width: 100%;
    padding: 0;
}
#block-jzy > div.block-content > div {
    margin: 0;
    max-width: none;
    padding: 0;
}
#block-jzy video {
    max-height: 700px;
    overflow: hidden;
    object-fit: cover;
}
 /* VIDEO */


.hero-image-block a {
    font-family: Twcenmtstd-light;
    border-bottom: solid 1px #fff;
    font-size: 0.9rem;
    line-height: 1.4;
    padding-bottom: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    color: #fff;
}
.hero-image-block a:hover {
    text-decoration: none;
    color: #fff;
}

/* HOMEPAGE GRID */
#block-wta, #block-fmy, #block-4ns {
    padding:0;
}
#block-wta .block-content, #block-fmy .block-content, #block-4ns .block-content {
    max-width: none;
    padding: 0;
}
.grid-square {
    height: 25vw;
    padding: 7px !important;
}
.grid-background {
    height: 100%;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat !important;
}
.grid-text {
    text-align: center;
}
.grid-square h2 {
    line-height: 1.4;
    padding-bottom: 0.4rem;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
.grid-square p {
    line-height: 1.6;
    font-size: 1rem;
  	font-family: Twcenmtstd-light;
  	color: #fff;
}
.grid-square a {
    font-family: Twcenmtstd-light;
    border: solid 1px #000;
    background-color: #000;
    font-size: 0.9rem;
    line-height: 1.4;
    padding: 5px 10px;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    display: inline-block;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}
.grid-square a:hover {
    border: solid 1px #fff;
    background-color: #fff;
    color: rgb(51, 51, 51);
}
@media only screen and (max-width: 991.98px) {
    .grid-square {
        height: 80vw;
    }
}
/* HOMEPAGE GRID */

/* BLOG */
#block-8sd .block-content {
    max-width: none;
}
#blog img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    object-position: center;
}
#blog .swiper-container {
    height: calc(20vw + 150px);
}
#blog .blog-text {
    max-height: 100px;
    overflow: hidden;
}
#blog .swiper-pagination-bullet {
    background: transparent;
    color: #000;
    opacity: 1;
}
#blog .swiper-pagination-bullet-active {
    background: transparent !important;
    text-decoration: underline;
}
#blog .blog-date {
    padding-top: 1rem;
    line-height: 1;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    font-family: Twcenmtstd-light;
    font-size: 12px;
}
#blog a:hover {
    text-decoration: none;
}
@media only screen and (max-width: 991.98px) {
    #blog img {
        width: 100%;
        height: 60vw;
        object-fit: cover;
        object-position: center;
    }
    #blog .swiper-container {
        height: calc(60vw + 150px);
    }
    }
/* BLOG */

/* PRESS */
#block-mub .block-content {
    max-width: none;
}
#press h4 {
    padding-top: 1rem;
    text-transform: uppercase;
    line-height: 1;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    font-family: Twcenmtstd-light;
    font-size: 16px;
    min-height: 50px;
}
#press a:hover {
    text-decoration: underline;
}
#press img {
    max-width: 100px;
    max-height: 50px;
    object-fit: contain;
}
#press .image-height {
    height: 50px;
}
/* PRESS */
/* HOMEPAGE */


/* ALL RETREATS PAGE */
#block-kau {
    padding-bottom: 0;
}
#block-64i {
    padding: 0;
}
.trip-selector select, .trip-selector input {
  padding:5px 10px;
  height:40px;
  margin-right:5px;
  border:none;
  text-transform: uppercase !important;
}
.trip-selector select {
  -webkit-appearance:none;
  background:#fff;
  outline:none;
  padding-right:50px;
  border-radius:0;
  font-size: 0.9rem;
  width: 190px;
}
.trip-selector input {
  cursor:pointer;
}
.select-container {
  position:relative;
  display:inline-block;
}
.select-container .select-down {
  position: absolute;
  color: #424242;
  right: 24px;
  top: 10px;
  font-size: 0.9rem;
  pointer-events:none;
}
.filter-btn {
    font-family: Twcenmtstd-light;
    border-bottom: solid 1px #000 !important;
    font-size: 0.9rem;
    line-height: 1.4;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 3px !important;
    height: auto !important;
}
.fa-chevron-down:before{
    -webkit-text-stroke: 2px white;
}
#block-xnu a:hover {
    text-decoration: none;
}
/* ALL RETREATS PAGE */