version: 2
jobs:
  # build job omitted for brevity
  deploy:
    working_directory: ~/canvas-themes
    docker:
      - image: circleci/python:2.7-jessie
    steps:
      - checkout
      - run:
          name: Install awscli
          command: sudo pip install awscli
      - run:
          name: Where r we
          command: pwd
      - run:
          name: Wot is there
          command: ls -lah
      - run:
          name: Deploy to S3
          command: aws s3 sync src s3://canvas-themes/ --delete

workflows:
  version: 2
  deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only: master
