body .block:nth-child(2) {
  padding-top:6rem;
}
h1 .h1 {
  font-size:2rem;
}
#menu.open {
  background-color:rgba(0,0,0,0.8) !important;
}
#menu.open .navbar-nav {
  width:100%;
  background-color:rgba(0,0,0,0.8);
  top:45px;
}
#menu.scrolled {
  position:fixed !important;
  top:0;
  color:#000;
  background:#fff !important;
}
#menu.scrolled .nav-link {
  color:#000;
}
#menu {
  background-color: transparent;
}
#menu .navbar-nav {
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}
#menu .navbar-nav .nav-item {
  margin:0 15px;
}
.home #menu .navbar-brand, #footer .navbar-brand {
  display:none;
}
#menu .navbar-brand img {
  width:60px;
  height:auto;
}
#menu.navbar {
  z-index:9;
  font-size:2rem;
  background:transparent;
  position:absolute;
  width:100%;
}
.navbar-toggler {
  padding:.25rem 0 !important;
  color:#fff;
  outline:none !important;
  border:none !important;
}
h2{
  font-family: 'Playfair';
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h1{
  color: #FFF;
  font-family: 'Amatic';
  font-weight: 700;
  text-transform: uppercase;
}

.collapse h4{
  color: #000000;
  font-family: 'Playfair', sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  text-transform: none;
}

.btn{
  font-family: 'Amatic';
}


.social-icon{
  font-size: 3rem !important;
}


nav .btn{
  margin-left: auto;
  font-size: 22px;
}
#footer > div.w-100.text-center {
  text-align:left !important;
}
.fixers-stamp{
  margin: 50px 0 0 0 !important;
  color:#fff;
  width:auto;
}
.fixers-stamp:hover {
  color:#fff;
  text-decoration:underline;
}
#menu-navbar {
    justify-content: center;
    background-color: transparent;
    z-index: 1030;
    font-family: amatic;
}

#block-dd4{
background-image: url("https://canvas-themes.s3-eu-west-1.amazonaws.com/Seller+Sites/Meadows/sky.jpg");
height: 500px !important;
background-size:cover;
}
#mc_embed_signup {
  color:#fff;
}
#mce-EMAIL{
  color: #fff;
  margin: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid #E1DBFF !important;
  padding: 10px 0;
  line-height: 1;
  height: auto;
  background: transparent !important;
  box-shadow: none !important;
  font-family: 'Amatic';
  font-size: 1.5rem;
}
#mce-EMAIL::placeholder{
    color: #fff!important;
}
#mc-embedded-subscribe, #menu-cta {
  background-color:transparent;
  border:none;
}
#mc-embedded-subscribe {
  padding: 10px 30px;
  font-size: 1.5rem;
}
#block-9qv{
    height: 100vh;
    z-index: 2;
    margin-top: -150px;
    padding-top:0;
}

#block-9qv > div.block-content:after{
  content:url('https://canvas-themes.s3-eu-west-1.amazonaws.com/Seller+Sites/Meadows/down.png');
  position: absolute;
  left:50%;
  transform:translateX(-50%);
  bottom: -150px;
}


#block-x6o{
        z-index: 2;
    margin-top: -150px;
}

#block-ewy{
    background: url(https://canvas-themes.s3-eu-west-1.amazonaws.com/Seller+Sites/Meadows/012-footer-woods.jpg);
    padding-top: 200px;
    margin-top: -200px;
    background-repeat: no-repeat;
    background-size:cover;

}

#block-sfm{
    margin-top: -45vh;
    z-index: 3;
    pointer-events:none;
}


#mergeRow-gdpr{
    display: none;
}

.btn-primary{
    background-color: transparent;
    border: none;
    background-image:url("https://canvas-themes.s3-eu-west-1.amazonaws.com/Seller+Sites/Meadows/btn-plate-tickets.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#footer {
  font-family:'Amatic';
  font-size:2rem;
}
#footer a {
  color:#fff;
}
#footer .navbar-nav, #footer .nav-item {
  width:100%;
  text-align:center;
}
#block-9qv > div.block-background {
  background-position:top center !important;
}

/* Our Mountain */

#block-0bd .block-content {
  max-width:800px;
}
#block-0bd p {
  font-family:'Amatic';
}
#block-0bd .block-content p:nth-child(2) {
  font-size:2.5rem;
}

/* FAQ */

#block-czo {
  color:#fff;
  height:70vh !important;
}

/* History */

#block-rrw {
  color:#fff;
}
.custom-video {
  position:relative;
}
.custom-video .btn {
  position:absolute;
  bottom:20px;
  right:20px;
  border:2px solid #fff;
}

/* Mobile */

@media (max-width:536px) {
	#menu.navbar {
  	position: absolute;
  	top: 0px;
	}
  #menu .navbar-brand {
    margin-left:20px;
  }
  #menu.open #menu-cta {
    display: block;
    margin: auto;
    position: absolute;
    top:5px;
    right:10px;
  }
  #block-dd4 > div.block-content > div > div:nth-child(2) > img {
    width:80%;
  }
  #footer > div.container > div.collapse.navbar-collapse {
    display:block;
  }
}
