#overview:before{
    content: "Sri Lanka 2019 \A Check in: 4pm 27th Sept \A Check out: 10:30am 5th Oct ";
white-space: pre;
  display: block;
  text-align: center;
  font-size: 1.25em;
  padding-bottom: 1em;
}