#overview:before{
    content: "Sri Lanka 2020 \A Check in: 4pm 23rd May \A Check out: 10:30am 31st May";
white-space: pre;
  display: block;
  text-align: center;
  font-size: 1.25em;
  padding-bottom: 1em;
}

.product-tagline{
  padding-top: 20px;
}

.block-background .col-8.offset-md-4 {
    margin-left: 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
@media (max-width:568px) {
    .block-background .col-8.offset-md-4 {
        display:none;
    }
}