/*FONTS*/

/*ICONS*/

.fa{
    color: #fff !important;
}

/*NAV*/
#menu .navbar-nav {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

/*FOOTER*/

#footer{
    background-color: #647670 !important;
}

#footer .navbar-nav{
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

#footer .nav-link{
    color: #FFF !important;
}

.fixers-stamp {
    margin-left: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    filter: brightness(0) invert(1);
}




/*SUBSCRIBE BLOCK*/
.subscription-block .btn-primary{
    background: none;
    color: #fff;
    border-color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 6px !important;
  }
  
  #mergeRow-gdpr{
    display: none !important;
  }

 /*TEXT IMAGE BLOCK*/
 .text-and-image-block{
    color: #fff;
    text-align: justify;
    padding-top: 0 !important;
    padding-bottom:0 !important;
    }
    
    .text-and-image-block .block-content{
        max-width: 100%;
    }
    
    .text-and-image-block .col-6{
        padding: 0;
    }
    
    .text-and-image-block .col-12{
    padding-left: 10%;
    padding-right: 10%;
    }

/*HERO PRODUCT BLOCK*/
    @media only screen and (min-width: 768px){ 
        .hero-product-block .btn-primary{
          max-width: 200px;
          position: absolute;
          right: 30px;
          bottom: 25px;
        }
        .hero-product-block .justify-content-start{
        position: absolute;
        top: 15px;
        right: 30px;
        }
        .hero-product-block > div.block-content > div > div > div:nth-child(1){
          padding-bottom: 50px;
        }
        }
        .hero-product-block .hero-product-tagline{
          display: none;
        }

    /*TEXT BLOCK*/
    @media only screen and (min-width: 768px){
        .text-block .block-content{
            max-width: 80vw;
        }   
    }

    /*MANIFESTO*/
    .content-main-two{
        color: #EBD6BA;
        padding-bottom: 3rem;
    }

    @media only screen and (min-width: 768px){ 
    .divider{
        position:absolute;
        left:0%;
        top:40%;
        bottom:40%;
        min-height: 100px;
        border-left:1px solid #EBD6BA;
    }
}

    /*PRODUCT PAGE*/

    #overview .overview-card {
        background-color: #647670 !important;
    }

    .product-page-booking-bar{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    body > nav.navbar.booking-bar.fixed-bottom.px-0.product-page-booking-bar > div > div.navbar-text{
    color: #000;    
    }

    /*MOBILE STYLES*/

    /*MANIFESTO*/
    @media only screen and (max-width: 767px) {
    #manifesto .col{
        min-width: 100%;
        padding-bottom: 2rem;
        }
    }