/*HOME*/


/*HERO IMAGE*/
#block-ppk{
    height: 100vh !important;
}

#block-ppk h1:before{
    content: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Project+Change/Logos/Logo.png);
    white-space: pre;
    display: block;
    transform: scale(.5);
  }

  /*ABOUT US*/
#block-01x{
height: 100vh;
}
