/*HOME*/


/*HERO IMAGE*/
#block-ppk{
    height: 100vh !important;
}

#block-ppk h1:before{
    content: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Project+Change/Logos/Logo.png);
    white-space: pre;
    display: block;
    transform: scale(.5);
  }

  /*ABOUT US*/
  #block-01x{
    height: 100vh;
    display: table;
    }

    #block-01x .block-content{
            display: table-cell;
            vertical-align: middle;
        }

@media only screen and (min-width: 768px){ 
#block-01x  .block-content{
padding-left: 20vw;
padding-right: 20vw;
}
}


 /*QUOTE*/
 #block-a8t{
     height: 100vh;
     display: table;
 }   

#block-a8t .block-content{
    display: table-cell;
    vertical-align: middle;
}
@media only screen and (min-width: 768px){ 
#block-a8t .block-content{
padding-left: 20vw;
padding-right: 20vw;
}
}



 /*MANIFESTO*/

 #manifesto{
     padding-top: 6rem !important;
 }

 #manifesto:after{
    content: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Project+Change/Logos/Logo.png);
    white-space: pre;
    display: block;
    transform: scale(.5);
    text-align: center;
  }