/*HOME*/

/*HERO IMAGE*/
#block-ppk{
    height: 100vh !important;
}

#block-ppk h1:before{
    content: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Project+Change/Logos/Logo-small.png);
    white-space: pre;
    display: block;
  }

  #block-ppk h1{
    font-size: 90px;
    line-height: 90px;
}

#block-ppk p{
    font-size: 20px;
}

  /*ABOUT US*/
@media only screen and (min-width: 768px){ 
#block-01x  .block-content{
margin-left: auto;
margin-right: auto;
width: 50vw;
}
}

#block-01x{
    padding-top: 5rem !important;
}

/*CHARLIE*/
#block-fg9 a{
    color: #647670 !important;
}


 /*QUOTE*/
 #block-a8t{
     height: 100vh;
     display: table;
 }   

#block-a8t .block-content{
    display: table-cell;
    vertical-align: middle;
}

#block-a8t h2{
    padding-left: 60px;
    padding-right: 60px;
}

@media only screen and (min-width: 768px){ 
#block-a8t .block-content{
padding-left: 20vw;
padding-right: 20vw;
}
}

 /*MANIFESTO*/

 #manifesto:after{
    content: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Project+Change/Logos/Logo-small.png);
    white-space: pre;
    display: block;
    transform: scale(.8);
    text-align: center;
  }

  /*FOOTER IMAGE*/
  #block-3fm{
  height: 100vh !important;
  }
