/*HOLDING PAGE*/
.hack-block h2, .hack-block h3 {
    margin-bottom: 0;
    line-height: 1.2;
}
#block-9ik > div.block-content > div {
    margin-top:15px;
}
@media (max-width:768px) {
    .text-block .block-content {
        zoom:0.8;
    }
}
#block-nat {
    background-image: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Arkestra/Holding+Page/Assets/aAGGkQtaQ41SiUzhaPzx2QcB.jpeg);
      margin: 0;
      min-height: 100vh;
      background-position: bottom right;
      background-repeat: no-repeat; 
      background-size: cover; 
      background-position: center;
    }
    
    #block-nat:before{
      content: "";
      position: fixed;
      height: 100%;
      width: 100%;
      left: 0; right: 0;
      top: 0; bottom: 0;
      background: rgba(0,0,0,.2);
    }
    
    #block-nat,
    #block-9ik{
    padding-top: 0;
    padding-bottom: 0;
    }
    
    #logo{
        text-align: center;
      }
      #logo img {
        max-width:100%;
          width:50%;
      }
      
      @media only screen and (min-width: 768px){ 
      #logo > img{
        width: 35vh;
      }
      }
      

    #footer{
      display: none;
    }
    
    /*SOCIAL ICONS*/

    .social-icon{
      font-size: 2rem !important;
      padding-bottom: 0;
    }

a.social-icon{
  font-size: 2rem !important;
  padding-bottom: 0;
}

.col-md-2{
  max-width: 10%;
}

/* Product Page */

.product-hero {
  height:75vh;
}
#hero .faux-image {
  background-position:top center;
}

/* Cart Shop */

#app {
  background:#f7f7f9;
}
.availability-table .row-head:before, .availability-table .bookable-ticket-variant:before {
    background:#b99825;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .availability-table {
  font-family:'Gillsans condensed', sans-serif;
}
.navbar-main .navbar-brand {
  width:100vw;
  float:none;
  text-align:center;
}
.navbar-main .logo {
  height:4rem !important;
}
#app .cart .btn-primary {
    background:#b99825;
    border-color:#eceeef !important
    color: #fff;
   }
.number-stepper-round .btn {
  color:#b99825;
  border-color:#eceeef !important
}
.number-stepper-round .btn:hover {
  background:#fcb570;
  border-color:#eceeef !important
}
.block-background {
  z-index:1;
}
#app > div.container.pb-4 > div.d-flex.w-100.pt-3 > section > article > div.row.h-100.no-gutters > div.col-14.col-md-6.push-md-8.fill-white > div > div.row.justify-content-center {
  display:none;
}
#app > div.container.pb-4 > div.d-flex.w-100.pt-3 > section > article > div.row.h-100.no-gutters > div.col-14.col-md-6.push-md-8.fill-white > div > h1 {
  margin-top:65px;
  text-transform:uppercase;
}

    
    
