/*HOLDING PAGE*/
body {
    background-image: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Arkestra/Holding+Page/Assets/aAGGkQtaQ41SiUzhaPzx2QcB.jpeg);
      margin: 0;
      min-height: 100vh;
      background-position: bottom right;
      background-repeat: no-repeat; 
      background-size: cover; 
      background-position: center;
    }
    
    body:before{
      content: "";
      position: fixed;
      height: 100%;
      width: 100%;
      left: 0; right: 0;
      top: 0; bottom: 0;
      background: rgba(0,0,0,.2);
    }
    
    
    
    
    #block-9ik{
      padding-top: 6em;
      padding-bottom: 0;
    }
    
    #footer{
      display: none;
    }
    

    /*SOCIAL ICONS*/
    .social-icon{
      font-size: 2rem !important;
      padding-bottom: 0;
    }
    
    .col-md-2{
      max-width: 10%;
    }
    
    #block-f2g{
      padding-bottom: 0;
    }
    
    
    /*FOOTER*/
    .bg-light{
      background-color: transparent !important;
    }
    
    .navbar-light .navbar-brand{
      display: none;
    }
    .fixers-stamp{
    fill: #FFF !important;
    margin: 0 0 0 auto;
    }
    
    .btn-group{
      display: none;
    }
    #footer{
    position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    /*MOBILE STYLES*/