
/* Cart Shop */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform:none;
  }
  
  .navbar-main .navbar-brand {
   width:100vw;
   float:none;
   text-align:center;
  }
  .navbar-main .logo {
   height:4rem !important;
  }
  #app {
    background:#f7f7f9;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  #app .block-background {
    z-index:1;
  }
  #app a.btn, .availability-table .row-head:before, #app .availability-table .bookable-ticket-variant:before {
     background:#a4c3cd;
  }
  #app button.btn:hover {
     background:#f9d5d2;
  }
  #app .input-group input, #app .input-group .btn, #app .btn-primary {
     border-color:#a4c3cd !important;
  }
  #app .number-stepper-round .btn {
     color:#a4c3cd;
  }
  #app > div.container.pb-4 > div.d-flex.w-100.pt-3 > section > article > div.row.h-100.no-gutters > div.col-14.col-md-6.push-md-8.fill-white > div > div.row.justify-content-center {
   display:none;
  }
  #app > div.container.pb-4 > div.d-flex.w-100.pt-3 > section > article > div.row.h-100.no-gutters > div.col-14.col-md-6.push-md-8.fill-white > div > h1 {
   margin-top:35px;
  }
  