
/*HERO*/
/*PRODUCT HERO*/
.product-hero{
    height: 100vh !important;
    background-color: rgba(0,0,0,.2);
}

#overview > article > div.row.no-gutters > div.col-12.col-md-5.p-3.overview-card.offset-md-7 h5{
    display: none;
}

#overview > article > div.row.no-gutters > div.col-12.col-md-5.p-3.overview-card.offset-md-7:before{
content: "The Magic";
display: block;
text-align: center;
font-size: 2rem;
letter-spacing: 0.3rem;
text-transform: uppercase;
font-family: Playfairdisplay;
}

/*SLEEP*/

#sleep{
    text-align: center;
}

.retreat-hotel-block{
    height: 80vh !important;
}

/*WHATS INCLUDED*/
#includes{
    text-align: center;
}

#includes h2{
    text-transform: uppercase;
}

#includes ul.included-list{
    font-size: 1.25rem !important;
}

#includes > article > h2 > hr{
 display: none;
}



/*THE PLAN*/
#plan > article > div > div.col-12.col-md-4 > h3{
    display: none;
}
#plan > article > div > div.col-12.col-md-4:before{
    content:"Life On The Mat";
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: Playfairdisplay;
    display:block;
}
#plan > article > div > div.col-12.col-md-4:after{
    content:"A 28DAY TRANSFORMATIVE EXPERIENCE";
    font-family:Playfairdisplay;
    color:#e6a49b;
}


#plan > article > div > div.col-12.col-md-8 > ul > li.row.mb-2{
    text-align: center;
}

#plan > article > div > div.col-12.col-md-8 > ul > li.row.mb-2 > div{
    font-size: 1.25rem !important;
    white-space: pre-line;
}
#plan > article > div > div.col-12.col-md-4{
    flex: 0 0 100%;
    max-width: 100%;
}

#plan > article > div > div.col-12.col-md-4{
    width: 100%;
    text-align: center ;
}

#plan > article > div > div.col-12.col-md-8 > ul > li{
    justify-content: start !important;
}

#plan > article > div > div.col-12.col-md-8 > ul > li > div.col-7.col-md-8{
    padding-left: 30px;
}


@media (min-width: 768px){
#plan .offset-md-4 {
    margin-left: 0px;
}

#plan .col-md-8 {
    flex: 66.6%; 
    max-width: 100%; 
}
}

/*CTA*/

body > nav.navbar.booking-bar.fixed-bottom.px-0.product-page-booking-bar > div > div.navbar-nav.ml-auto > a > span{
    display: none;
}

nav.navbar.booking-bar.fixed-bottom.px-0.product-page-booking-bar > div > div.navbar-nav.ml-auto > a:after{
        content:"View Availability and Book";
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
