
/*HERO*/
/*PRODUCT HERO*/
.product-hero{
    height: 100vh !important;
    background-color: rgba(0,0,0,.2);
}

#overview > article > div.row.no-gutters > div.col-12.col-md-5.p-3.overview-card.offset-md-7 h5{
    display: none;
}

#overview > article > div.row.no-gutters > div.col-12.col-md-5.p-3.overview-card.offset-md-7:before{
content: "Overview";
display: block;
text-align: center;
font-size: 2rem;
letter-spacing: 0.3rem;
text-transform: uppercase;
font-family: Playfairdisplay;
}

/*SLEEP*/

#sleep{
    text-align: center;
}

.retreat-hotel-block{
    height: 80vh !important;
}

/*WHATS INCLUDED*/
#includes{
    text-align: center;
}

#includes h2{
    text-transform: uppercase;
}

#includes ul.included-list{
    font-size: 1.25rem !important;
}

#includes > article > h2 > hr{
 display: none;
}



/*THE PLAN*/
#plan > article > div > div.col-12.col-md-4 > h3{
    display: none;
}
#plan > article > div > div.col-12.col-md-4:before{
    content:"The Course";
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: Playfairdisplay;
    display:block;
}
#plan > article > div > div.col-12.col-md-4:after{
    content:"A TRANSFORMATIVE EXPERIENCE";
    font-family:Playfairdisplay;
    color:#e6a49b;
}


#plan > article > div > div.col-12.col-md-8 > ul > li.row.mb-2{
    text-align: center;
}

#plan > article > div > div.col-12.col-md-8 > ul > li.row.mb-2 > div{
    font-size: 1.rem !important;
    white-space: pre-line;
    margin: 0 10%;
}
#plan > article > div > div.col-12.col-md-4{
    flex: 0 0 100%;
    max-width: 100%;
}

#plan > article > div > div.col-12.col-md-4{
    width: 100%;
    text-align: center ;
}

#plan > article > div > div.col-12.col-md-8 > ul > li{
    justify-content: start !important;
    position:relative;
}

#plan > article > div > div.col-12.col-md-8 > ul > li > div.col-7.col-md-8{
    padding-left: 30px;
}


@media (min-width: 768px){
#plan .offset-md-4 {
    margin-left: 0px;
}

#plan .col-md-8 {
    flex: 66.6%; 
    max-width: 100%; 
}
}

/*CTA*/

body > nav.navbar.booking-bar.fixed-bottom.px-0.product-page-booking-bar > div > div.navbar-nav.ml-auto > a > span{
    display: none;
}

nav.navbar.booking-bar.fixed-bottom.px-0.product-page-booking-bar > div > div.navbar-nav.ml-auto > a:after{
        content:"View Availability and Book";
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

/* Schedule and Accom */

#sleep h3:before {
    content:"Your Home";
    display:block;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin:0 auto 10px;
    text-transform: uppercase;
    font-family: Playfairdisplay;
    color:#545558;
}
#sleep > div.block.py-0 > article > h3 {
    font-size:1em;
    color:#e6a49b;
}
#plan > article > div > div.col-12.col-md-8 > ul > li:nth-child(2):after {
    content: "How We Will Flow";
    position: absolute;
    top: 50px;
    font-family: Playfairdisplay;
    color: #e6a49b;
    left: 0;
    width: 100%;
    text-align: center;
}
#plan > article > div > div.col-12.col-md-8 > ul > li:nth-child(2):before {
    content: "Schedule";
    display: block;
    width: 100%;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-family: Playfairdisplay;
    margin: 0 15px 50px;
    text-align: center;
}
.accommodation_information .factual {
    text-transform:uppercase;
    font-weight:bold;
    margin-top:30px;
}

/* Paulina Updates */

#hero h1 {
    font-size: 35px !important;
    font-weight: bold
}

#hero span {
    font-size: 25px !important;
    font-weight: 700;
    text-transform: uppercase;
}

#hero h4 {
    font-size: 16px !important;
    text-transform: uppercase;
    color: #fff;
}

#hero {
    height: 65vh !important;
    overflow: hidden;;
}

#hero .block-content {
    max-width: 650px;
}

#hero .block-content:before {
    content: '';
    width: 50%;
    border-bottom: 2px solid #fff;
    margin: auto;
    position: relative;
    top: -10px;
}

#hero .block-content:after {
    content: '';
    width: 50%;
    margin: auto;
    border-bottom: 2px solid #fff;
    position: relative;
}

.product-overview a {
    color: #E29A90;
}

article.block-content h4 {
    text-transform: uppercase;
    font-family: Muli;
    color: #E29A90;
}

article.block-content h6 {
    text-transform: uppercase;
    font-size: 18px;
}