/*EXPERIENCES PAGE*/

/*HERO*/
#block-kcn > .block-background{
    margin-left: auto;
    margin-right: auto;
    }

    #block-kcn h1{
        color: #fff;
    }
    
    @media only screen and (min-width: 576px){
    #block-kcn > .block-background {
        max-width: 540px;
    }
    }
    
    @media only screen and (min-width: 768px){
    #block-kcn  > .block-background {
        max-width: 720px;
    }
    }
    
    @media only screen and (min-width: 992px){
    #block-kcn > .block-background {
        max-width: 960px;
    }
    }
    
    @media  only screen and (min-width: 1200px){
    #block-kcn > .block-background {
        max-width: 1140px;
    }
    }

/* Added by BK */

body {
    line-height:1.8 !important;
}
h1, h2, .h1, .h2 {
    text-transform:uppercase;
    letter-spacing:0.3rem;
}
h1, .h1 {
    font-size:2.3rem !important;
}
h2, .h2 {
    font-size:1.8rem !important;
}

/* Home Page */ 

#block-ekq {
    padding-top:0;
}
#block-ekq .block-content {
    position:relative;
    top:-40px;
}
#footer a, .product-row-block a {
    color:#545558;
}
.product-row-block a:hover {
    text-decoration:none;
}
#mc-embedded-subscribe {
    padding:10px 20px;
}
.fixers-stamp {
    position:relative;
    top:150px;
    display:inline !important;
}
@media (max-width:576px) {
    #footer .btn-group {
        display:none;
    }
}

.hero-product-block .card-img {
  height:100%;
  object-fit:cover
}
.hero-product-block .justify-content-center {
  justify-content:flex-start!important;
}
.hero-product-block .justify-content-center .mb-5 {
  margin-bottom:0 !important;
}
.hero-product-block .col-12 {
  max-height: 350px;
}
.block .hero-product-block {
  padding-bottom:0 !important;
}
.block .text-block {
  padding-top:0!important;
}

    
