/*NAV*/

#menu{
    background-color: transparent !important;
    z-index: 1030 !important;
  }
  
  #menu-navbar{
      height: 84px !important;
  }
  
  #menu.open{
    padding-bottom: 200px;
  }
  
  #menu .navbar-nav{
  justify-content: space-around;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  }
  
  a.navbar-brand{
  margin-left: auto;
  margin-right: auto;
  }
  
a.navbar-brand img{
  height: 150px;
  }
  
  nav#menu .container{
  display: flex;
  flex-flow: row wrap;
  align-self: flex-start;
  }
  
  #menu-navbar{
  flex-basis: 100%;
  width: 0px;
  height: auto;
  }
  
  #menu .nav-link{
  text-transform: uppercase;
  padding-top: 0.3rem !important;
  padding-right: 21px !important;
  padding-bottom: 0.3rem !important;
  padding-left: 21px !important;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
#menu .nav-link:hover{
  color: #e6a49b;
}

  #menu-social-links{
  display: none;
  }
  
  #menu-navbar a{
    color: #fff;
  }
  
  @media (min-width: 767px){
  nav#menu{
    height: 250px;
    }
    
    #menu .navbar-brand{
    padding-top: 20px;
}
}

#menu.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  height: 80px;
  position: fixed;
  width: 100%;
}

#menu.scrolled {
    border-bottom: solid 1px #eeeeee;
}


#menu.scrolled a.nav-link{
    margin-top:  0;
}

#menu.scrolled .navbar-nav{
    position: absolute;
    top: 30%;
    margin-left: 106px;
}

@media only screen and (max-width: 767px){
#menu {
    height: 84px;
}

nav#menu .container{
  align-self: center !important;
}

.navbar-toggler{
  color: #363638;
}

#menu .navbar-brand{
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -24.5px;
}

 #menu .navbar-brand img{
 height: 35px;
 margin-left: auto;
 margin-right: auto;
}
}

@media only screen and (min-width: 768px){
#menu.scrolled .navbar-brand{
margin-left: 0;
padding-top: 0;
}
    
#menu.scrolled .navbar-brand img{
     display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Well+Daily/Assets/Logo.png) no-repeat;
  width: 75px; /* Width of new image */
  height: 75px; /* Height of new image */
  padding-left: 75px; /* Equal to width of new image */
}
}

/*FOOTER*/
#footer .container{
    height: 200px;
}

#footer .navbar-brand{
    position: absolute;
    right: 50%;
    left: 50%;
}

#footer .navbar-brand img{
    width: 75px;
    height: 75px;
    margin-left: -32.5px;
}

#footer .navbar-brand:after{
content: "Your guide to everyday well-being.";
display: block;
font-size: 14px;
margin-left: -115px;
margin-top: 10px;
}

#footer .btn-group{
    text-align: center;
}

#footer .btn-group:before{
content: "CONNECT WITH US";
display: block;
text-align: center;
margin-bottom: 25px;    
}

#footer .nav-link:before{
content: "CONTACT US";
display: block;
text-align: center;
margin-bottom: 25px;   
}

#footer .nav-link{
  margin-bottom: 10px;
}

#footer .nav-link:after{
content: "Vancouver, BC";
display: block;
text-align: center; 
}

/*SUBSCRIBE*/

#block-ekq .form-inline{
    flex-flow: column !important;
}

#mergeRow-gdpr{
  display: none;
}

#mc-embedded-subscribe:hover{
  color: white;
  background-color: black;
  border-color: black;    
}

#mc-embedded-subscribe{
  margin-top: 20px;
}

/*FIXERS STAMP*/
#footer > div.w-100.text-center{
    position:absolute;
    bottom: -230px;
    margin-bottom: 20px;
}