

/*Text and Image Block*/

#block-hwf .col-image:before {
    content: "";
    background-image: url(https://canvas-themes.s3-eu-west-1.amazonaws.com/Seller+Sites/Atjan/Richard-Tilney-Bassett-190905-112235-0555-%40theglasspassport.jpg);
    width: 320px;
    height: 400px;
    position: absolute;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    left: 15px;
    margin-top: -70px;
    pointer-events: none;
    z-index: -1;
}

#block-hwf img {
    max-width: 400px;
    margin-left: 50px;
}

/* PRESS */
#block-erf .block-content {
    max-width: none;
}
#press h4 {
    padding-top: 1rem;
    text-transform: uppercase;
    line-height: 1;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    min-height: 50px;
    text-align: center
}

#press p{
    text-align: center;
}

#press a:hover {
    text-decoration: none;
}

#press img {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
}
#press .image-height {
    height: 100px;
}
#block-erf {
    padding-top: 0;
}

#press h2{
    text-align: center;
}
/* PRESS */