
/*Text and Image Block*/

#block-hwf .col-image:before {
    content: "";
    background-image: url(https://canvas-themes.s3-eu-west-1.amazonaws.com/Seller+Sites/Atjan/Richard-Tilney-Bassett-190905-112235-0555-%40theglasspassport.jpg);
    width: 320px;
    height: 400px;
    position: absolute;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    left: 15px;
    margin-top: -70px;
    pointer-events: none;
    z-index: -1;
}

#block-hwf img {
    max-width: 400px;
    margin-left: 50px;
}