/* Global */

body, html {
  overflow-x:hidden;
}
#menu {
  display:none;
}
#block-s4k {
  padding:1rem 0;
  position:absolute;
  z-index:999;
}
#block-s4k .btn {
  font-size:0.8rem !important;
  color:#fff;
  letter-spacing:0.05rem;
  margin:0 2rem;
}
.btn {
  font-family: Avenirnextltpro-bold;
  font-size: 0.6rem !important;
  text-transform: uppercase;
}
.accordion-block h2 {
  text-align:center;
}
.accordion-entry {
  background:transparent !important;
  border:1px solid #61c089 !important;
  max-width:540px;
  margin:auto;
}
.accordion-entry .my-4.ml-4 {
  text-align:center;
  padding-left:30px;
}
.accordion-entry .collapse.container {
  border-top:1px solid #61c089;
}
.accordion-entry .fa-chevron-right:before {
  content:'\f067';
}

/* Text and Image Block Checkerboard */

@media (min-width:800px) {
  .text-and-image-block {
    overflow-x:hidden;
  }
  .text-and-image-block .block-content {
   max-width:100%;
   padding:0;
  }
  .text-and-image-block h1 {
    text-transform:uppercase;
  }
  .text-and-image-block .col-12.d-flex {
    align-items:center;
  }
  .text-and-image-block .col-12.d-flex * {
    display: block;
    max-width: 475px;
    width:100%;
  }
  .text-and-image-block .col-12.d-flex p {
    text-align:justify;
  }
  .text-and-image-block h1:first-child {
    font-size: 0.6rem;
    font-weight: normal;
    display: block;
    position: relative;
    top: 12px;
    left: 2px;
  }
  .text-and-image-block h1:only-of-type {
    font-size: 2.5rem;
    position: static;
    text-align: left;
  }
  .text-and-image-block .btn {
    width:fit-content !important;
  }
  .text-and-image-block img {
    width: 100%;
  }
  .text-and-image-block, .text-and-image-block .col-12, .text-and-image-block .col-6 {
    padding: 0 !important;
  }
}

/* Individual Blocks */

#block-ffe {
  padding:1rem 0;
}
#block-ffe p {
  margin:0;
}
#block-pff {
  height:80vh !important;
  color:#fff;
}
#block-pff .block-content {
  max-width:600px;
}
#block-pff p {
  font-family:Avenirnextltpro-bold;
}
#block-pff p:before {
  content: '';
  background-image: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Atjan/atjan-header-logo-dates.png);
  background-size: cover;
  width: 425px;
  height: 180px;
  display: block;
  margin: auto;
  position: relative;
  top: -15px;
}
#block-kye {
  color:#fff;
  padding:1em 0;
}
#block-kye p {
  width:75%;
  display:inline-block;
  margin:0
}
#block-kye .text-center {
  width:20%;
  float:right;
}
#block-7zh {
  height:100vh !important;
  padding:3rem 0;
}
#block-7zh .block-background {
  background-size:contain !important;
  background-color: #88d2d5 !important;
}
#block-saw .image-grid-entry-overlay {
  position: static;
  opacity: 1;
  width: 100%;
  margin: 0;
  background: transparent;
  height: auto;
  text-align: center;
  padding: 1rem 0;
}
#block-saw .image-grid-entry-overlay h2 {
  font-size:2rem;
  margin:0;
  line-height:1;
}
#block-qrz .image-grid-entry-overlay {
  opacity:1;
  text-align: center;
  background:transparent;
}
#block-qrz .image-grid-entry-overlay h2 {
  font-size:2rem;
  margin:0;
  line-height:1;
}
#block-qrz .aspect-1-1::before {
  padding-top:70%;
}
#mergeRow-gdpr {
  display:none;
}
#mc-embedded-subscribe {
   border: 2px solid #f1e033;
   height: 36px;
   background-color: #f1e033;
}
#block-zm4 a {
  color:#fff;
}
#block-d5w, #block-ls2, #block-2jc, #block-zm4 {
  color:#fff;
}
#block-2jc {
  height:75vh !important;
}

/* Footer */

#footer {
  padding:3rem 0 0;
  background-color:#61c089 !important;
}
#footer img {
  margin:0 20px 50px 0;
  height:50px;
}
#footer a i.fa {
  margin:0 10px;
  font-size:50px !important;
}
#footer a {
  color:#fff;
}
#footer .navbar-brand {
  display:none;
}
.fixers-stamp {
  margin: 100px 0 15px 25px !important;
  color: #fff !important;
}

/* Media Queries */

@media (min-width:768px) {
  #block-qrz .col-md-4 {
    flex:0 0 50%;
    max-width:50%;
  }
}

@media (max-width:769px) {
  #block-pff {
    height:100vh !important
  }
  #block-pff p:before {
    width:300px;;
    height:110px;
  }
  #block-7zh {
    margin: 0;
    padding: 0;
    height: 80vh !important;
    background-size: cover;
  }
  .text-and-image-block h4 {
    margin-top:15px;
  }
  #block-s4k .btn {
    margin:0;
  }
}
