#app{
    background-color:#F7F7F9;
}

.block.footer-main{
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

.package-modal .modal-content h2,
.package-modal .modal-content h4,
.package-modal .modal-content h6{
    text-transform: uppercase;
}

#app h4, #app h5, #app h6{
text-transform: uppercase;    
}

#app .availability-table .row-head:before, .availability-table .bookable-ticket-variant:before,
#app .bookable-list-item:before{
    background-color: #000 !important;
}

.btn-primary{
    background-color: black !important;
    border-color: black !important;
}

.btn-primary:hover{
    background-color: black;
    border-color: black !important;
}

.number-stepper-round .btn{
    border-color: black !important;
    color: black;
}

.cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link:hover{
    background-color: black !important;
    color: #fff;
  }
  
  .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link.active{
    color: #fff !important;
    background-color: #000 !important;
  }
  
  .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link:hover:before,
  .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link:hover:after,
  .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link.active:before,
  .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link.active:after {
      border-color: #fff !important;
  }
  
 
  #app > div.container.pb-4 > div.d-flex.w-100.pt-3{
      display: none !important;
  }
  
  
 .footer-list a,
 ul.list-inline.footer-social-list.my-4,
.footer-list,
.logo-mark.x2, 
.footer-list{
  display: none;
}

.footer-main {
    background-color: #000 !important;
}
.navbar-main .logo{
    filter: brightness(0%);
    height: 90px !important;
}