#footer{
    display: none;
}

#partner-logos{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .magik-footer{
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
  #reviews-footer img{
    filter: brightness(0) invert(1);
  }

#reviews-footer > div.contact > a,
#reviews-footer > div.contact > a:hover{
    color: #fff; 
}

#reviews-footer{
    min-height: 550px;
}

.fa{
    color: white;
}

#reviews-footer > div.container > div.btn-group{
    display:inline-block;
}

.navbar-nav{ 
    flex-direction: row !important;
     justify-content: center;
}
    
.fixers-stamp{
    filter: brightness(0) invert(1);
    padding-bottom: 20px;
}

#reviews-footer > div > div > a > img{
    max-width: 200px;
    padding: 20px;
}

#reviews-footer > div > div:nth-child(5) > a > img{
    max-width: 150px !important;
}

#partner-logos > div > div > a > img{
    max-width: 150px;
}



@media (min-width: 768px){
#reviews-footer > div.container > div.collapse.navbar-collapse{
    display: inline-block;
    flex-basis: auto;
    min-width: 60%;
}
}

@media (min-width: 768px){
#reviews-footer > div.container > div.collapse.navbar-collapse > ul > li a {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #fff !important;
}
}
@media (min-width: 768px){
#reviews-footer > div.container{
flex-wrap: nowrap;
}
}

#reviews-footer > div.address,
#reviews-footer > div.contact{
    text-align: center;
    color: white;
    
}