#block-eza{
background-color: rgba(0, 0, 0, 0.3) !important;
}

/*EXPERIENCES GRID*/
.yoga::before {
  content: "";
  /* bottom, image */
  background: 
      /* top, transparent grey, faked with gradient */ 
      linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
  url(https://s3-eu-west-1.amazonaws.com/fixers-marketplace-assets/magik_vanilla/_DSC2331.jpg);
  background-size: cover;
  background-position: center; 
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  position: absolute;
  z-index: -1;
}

.sup::before {
  content: "";
  background: 
       /* top, transparent grey, faked with gradient */ 
       linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
  url(https://s3-us-west-1.amazonaws.com/fixers-canvas/Magikvanilla/SUP.jpg);
  background-size: cover;
  background-position: center; 
  top: 0rem;
  left: 1rem;
  bottom: 0rem;
  right: 1rem;
  position: absolute;
  z-index: -1;
}

.aerial-yoga::before {
  content: "";
  background: 
       /* top, transparent grey, faked with gradient */ 
       linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
  url(https://s3-eu-west-1.amazonaws.com/fixers-marketplace-assets/magik_vanilla/_DSC2342.jpg);
  background-size: cover;
  background-position: center; 
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  position: absolute;
  z-index: -1;
}

/*LOCATION GRID*/
.activities::before {
  content: "";
  background: 
       /* top, transparent grey, faked with gradient */ 
       linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
  url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Magikvanilla/Images/Skateboard.jpg);
  background-size: cover;
  background-position: center; 
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  position: absolute;
  z-index: -1;
}

.location::before {
  content: "";
  background: 
       /* top, transparent grey, faked with gradient */ 
       linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
  url(https://s3-us-west-1.amazonaws.com/fixers-canvas/Magikvanilla/Location.jpg);
  background-size: cover;
  background-position: center; 
  top: 0rem;
  left: 1rem;
  bottom: 0rem;
  right: 1rem;
  position: absolute;
  z-index: -1;
}

.amenities::before {
  content: "";
  background: 
       /* top, transparent grey, faked with gradient */ 
       linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
  url(https://s3-us-west-1.amazonaws.com/fixers-canvas/Magikvanilla/Hut.jpg);
  background-size: cover;
  background-position: center; 
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  position: absolute;
  z-index: -1;
}

/*THE VILLAGE GRID*/
.village::before {
  content: "";
  background: 
       /* top, transparent grey, faked with gradient */ 
       linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
  url(https://s3-us-west-1.amazonaws.com/fixers-canvas/Magikvanilla/Village.jpg);
  background-size: cover;
  background-position: center; 
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0.3rem;
  position: absolute;
  z-index: -1;
}

.surf::before {
  content: "";
  background: 
       /* top, transparent grey, faked with gradient */ 
       linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
  url(https://s3-us-west-1.amazonaws.com/fixers-canvas/Magikvanilla/Surf.jpg);
  background-size: cover;
  background-position: center; 
  top: 0rem;
  left: 0.3rem;
  bottom: 0rem;
  right: 0rem;
  position: absolute;
  z-index: -1;
}

#block-h7j .col,
#block-mki .col,
#block-0dp .col{
    height: 30vh;
}

/*EXPERIENCES PAGE*/
#block-yuc .col{
  height: 30vh;
}

/*LOCATION GRID*/
.extra-surf::before {
  content: "";
  background: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Magikvanilla/Images/Extra-surf.jpg);
       /* top, transparent grey, faked with gradient */ 
       linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
  background-size: cover;
  background-position: center; 
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  position: absolute;
  z-index: -1;
}

.extra-yoga::before {
  content: "";
  background: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Magikvanilla/Images/Extra-Yoga.jpg);
       /* top, transparent grey, faked with gradient */ 
       linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
  background-size: cover;
  background-position: center; 
  top: 0rem;
  left: 1rem;
  bottom: 0rem;
  right: 1rem;
  position: absolute;
  z-index: -1;
}

.extra-sup::before {
  content: "";
  background: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Magikvanilla/Images/Extra-Sup.jpg);
       /* top, transparent grey, faked with gradient */ 
       linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
  background-size: cover;
  background-position: center; 
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  position: absolute;
  z-index: -1;
}


/*MOBILE*/

@media (max-width: 767px){
  .village::before {
      top: 0rem;
      left: 0rem;
      bottom: 0rem;
      right: 0rem;
  
  }
  
  .surf::before{
    top: 1rem;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
  }

  .sup::before,
  .location::before{ 
    top: 1rem;
      left: 0rem;
      bottom: 1rem;
      right: 0rem;
  }

/*EXPERIENCE PAGE*/
.extra-yoga::before{
  top: 1rem;
  left: 0rem;
  bottom: 1rem;
  right: 0rem;
}
}


