

/*MAGIKVANILLA THEME*/
/*FONTS*/

h1{
    font-size: 5rem;
    text-transform: uppercase;
  }
  
  h3{
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  h4{
    font-size 1.5rem;
    text-transform: uppercase;
  }
  
  /*BUTTON STYLES*/
  .btn{
    text-transform: uppercase;
  }

/*BLOCKS*/
.block{
    width: auto !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    margin-bottom: 1rem !important;
  }
  

/*ACCORDION BLOCK*/
.accordion-block h2{
  text-transform: uppercase;
}


/*HERO IMAGE BLOCK*/
.hero-image-block:first-of-type{
    height: 70vh !important;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-left:0 !important;
    margin-right: 0 !important;
    margin-bottom: 1rem !important;
  }
  .hero-image-block:first-of-type h1{
    font-size: 6rem;
    color: #fff !important;
  }

  .hero-image-block:first-of-type h2{
    color: #fff !important;
  }

  /*MENU*/
  #menu .navbar-nav {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-evenly;
  }

  #menu .container{
    position: relative;
  }
  
  a.navbar-brand img{
    filter: brightness(0%);
  }
  
  #menu .nav-link{
    text-transform: uppercase;
    font-family: overlock-regular;
    color: #000;
    text-align: center;
  }
  
  .bg-light{
    background-color: #fff !important;
  }
  
  nav.open .btn-primary{
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 992px){
  #menu-social-links{
      display: flex !important;
      max-width: 50px;
      position: absolute;
      top: 5px;
      right: 60px;
      }
  }
  
  @media (min-width: 768px){
          a.navbar-brand img{
          height: 90px;
          }
  }
  
  /*GRID*/
  .content-main, .content-secondary{
    color: #FFF;
    text-align: center;
  }
  
  /*FIXERS BADGE*/
  .fixers-stamp{
    padding-top: 50px;
    margin: 0 0 0 auto;
  }

  #footer{
    width: 100% !important;
  }
  
  /*MAILCHIMP*/
  
  .subscription-block{
    margin-top: 1rem;
    background: rgba(0, 0, 0, 0.1);
  }
  
  #mergeRow-gdpr {
      display: none;
  }
  
  /*CUSTOM HTML*/
  .hack-block{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .hack-block .block-content {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
  }
  

  /*MAP BLOCK*/

  .map-block .block-content{
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.mapboxgl-canvas{
    width: 100%;
    object-fit: cover; 
}
  
  /*TEXT BLOCK*/

.text-block:first-of-type{
  margin-left: 0 !important;
  margin-right: 0 !important;

}

  @media (min-width: 992px){
  .text-block p, .text-block h2{
    max-width: 90vh;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }
  }

/*IMAGE GRID OVERLAY*/

.image-grid-block{
  padding-top: 0;
}

.image-grid-entry-overlay {
  opacity: 1 !important;
  background-color: rgba(55,58,60,0.3) !important;
}

/*TEXT AND IMAGE BLOCK*/  
.text-and-image-block .block-content{
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.text-and-image-block .col-12.col-md-6.d-flex.flex-column.justify-content-center.col-text{
  padding-left: 2rem;
  padding-right: 2rem;
}

.text-and-image-block > div.block-content > div > div.col-6.col-image.d-none.d-lg-block > img{
  height: 100%;
  object-fit: cover;
  max-height: 500px;
}

/*PRODUCT BLOCKS*/

/*COLLECTION CARD BLOCK*/
.collection-card .card-title{
    display: none;
}

.collection-card small{
    display:none;
}

/*DUAL PRODUCT BLOCK*/
.dual-product-block .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  }


  /*INLINE*/
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* JUMP BAR */
.jump-block{
    width: 100%;
    position: -webkit-sticky !important; 
    position: sticky !important;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 1030;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .jump-block .block-content{
   max-width: 100%;
   padding-left: 0;
   padding-right: 0;
   z-index: 1030;
    font-size: 12px;
    letter-spacing: 2px;
  }
  
  #jump{
    width: 100%;
    background-color: white;
    border-top: 1px solid #ECEEEF;
    border-bottom: 1px solid #ECEEEF;
    z-index: 1030;
    text-align: left;
  }
  
  #jump .container a {
    padding: 0.5em 1em;
  }

  
/* BOOKING BAR */
.booking-block{
    position: fixed !important; 
    left: 0;
    bottom: 0;
    width: 100% !important;
    background-color: white;
    color: white !important;
    border-top: 1px solid #ECEEEF;
    border-bottom: 1px solid #ECEEEF;
    z-index: 1030;
    text-align: right;
    height: 50px;
    margin-bottom: 0 !important;
  }
  
  .booking-block a.btn.btn-primary{
    margin-top: 5px;
    min-width: 14rem; 
  }

/*DIRECTIONS*/

#directions .col{
  padding-left: 3rem;
  padding-right: 3rem;
  height: auto;
}

#directions .content-main-two{
  text-align: center;
}

#directions .content-subtitle {
  text-align: center;
  text-transform: uppercase;
}

#directions .download{
  text-align: center;
  padding-bottom: 3rem;
}

#directions .content-transport-directions{
 text-align: justify;
}

/*MAPBOX*/
.map-block{
  padding-bottom: 0 !important;
}

.map-block > div.block-content > div > div > div > div.mapboxgl-canvas-container.mapboxgl-interactive.mapboxgl-touch-drag-pan.mapboxgl-touch-zoom-rotate > canvas{
  width: 100%;
}


  /*REVIEWS*/

  #mobile-tripadvisor,
  #reviews-tripadvisor, 
  #reviews{
    background-color: #FFB0A3;
  }
  #mobile-tripadvisor,
    #reviews-product a:hover,
    #reviews a:hover{
      text-decoration: none;
    }
    #mobile-tripadvisor .col,
    #reviews-tripadvisor .col, 
    #reviews .col{
      padding-left: 3rem;
      padding-right: 3rem;
      height: auto;
    }
    
    #reviews-product .col{
      padding-left: 2rem;
      padding-right: 2rem;
      height: auto;
    }

    #reviews-product{
      margin-left: 1rem;
      margin-right: 1rem;
    }
    
    .content-review-source h2, .content-main-two h2{
      font-size: 1.5rem;
    }
    
    .content-review-date h4{
      font-size: 0.75rem;
    }
    
    .flex-container {
      display: flex !important;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    
    .flex-item {
      margin: auto;
    }
    #mobile-tripadvisor > div > div > a > img,
    #reviews-tripadvisor> div > div > a > img, 
    #reviews > div > div > a > img{
      max-width: 200px;
      padding: 20px;
  }
  
  #reviews-tripadvisor > div > div:nth-child(5) > a > img,
  #reviews > div > div:nth-child(5) > a > img{
      max-width: 150px !important;
  }

  #mobile-tripadvisor,
#reviews-tripadvisor,
    #reviews{
      padding-top: 20px;
      padding-bottom: 48px;
    }

#mobile-tripadvisor{
  margin-top: -1px;
}

    #mobile-tripadvisor img{
      max-width: 100%;
    }

    /*SURF TABLE*/
.table-responsive{
  display: block;
  width: 100%;
  overflow-x: auto;
  }
      
#block-bxs thead{
  text-transform: uppercase;
  font-style: bold;
}
     
#block-bxs .table{
text-align: center;
margin-left: auto;
margin-right: auto;
}
      
#block-bxs > div.block-content > div > table > thead > tr > th:nth-child(1),
#block-bxs td:first-child{
text-align: left !important;
}
      
th{
padding-left: 5px; 
padding-right: 5px;
}

th:first-child{
  padding-left: 0 !important;
  }
         
td{
  padding-top: 8px;
  padding-bottom: 8px;
  }

  /*MOBILE*/

  /*NAV TOGGLER*/
  .fa-navicon:before, .fa-reorder:before, .fa-bars:before{
    color: black;
  }
  
  @media only screen and (max-width: 767px) {
/*NAV*/
    #menu .navbar-nav{
      flex-direction: column !important;
      }

/*CUSTOM HTML*/
  .hack-block > div.block-content > div > div{
  display: block;
  }

/*TEXT AND IMAGE BLOCK*/
.text-and-image-block .col-12.col-md-6.d-flex.flex-column.justify-content-center.col-text{
  padding-top: 2rem;
}

.text-and-image-block{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/*DUAL PRODUCT BLOCK*/
.dual-product-block .block-content,
.dual-product-block .block-content .container{
  padding-left: 0;
  padding-right: 0;
}

/*PRODUCT ROW*/
.product-row-block .block-content,
.product-row-block .block-content .container{
  padding-left: 0;
  padding-right: 0;
}

.product-row-block .lead{
  font-size: 1rem !important;
}

/*HERO PRODUCT*/
.hero-product-block .block-content,
.hero-product-block .block-content .container{
  padding-left: 0;
  padding-right: 0;
}

/*JUMP BAR*/
.jump-block .block-content{
  font-size: 15px;
}

  /*PAGE HERO*/
  .hero-image-block:first-of-type h1 {
    font-size: 3rem;
  }

  /* REVIEWS */
  #reviews-tripadvisor{
    display: none;
  }

  #directions .col, 
  #reviews-product .col,
  #reviews .col{
    min-width: 100%;
    padding-bottom: 2rem;
    }
  }

  @media only screen and (min-width: 768px){
    .flex-container{
      max-width: 70vw;
      margin-left: auto;
      margin-right: auto;
    }
    #mobile-tripadvisor{
      display: none;
    }
  }

  

  