/*HOMEPAGE HERO*/

  #block-ids .block-content {
      height: auto !important;
  }
  
  #block-ids h1{
    font-size: 6rem;
  }
  
  /*SURF HERO*/
  #block-eza{
    height: 70vh;
    background: rgba(0, 0, 0, 0.1);
  }
  
  #block-eza .block-background{
    background-position: bottom !important;
  }
  
  /*MOBILE*/
  
  #block-h7j .block-content, #block-mki .block-content, #block-0dp .block-content{
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  }
  
  
  @media (max-width: 767px){
  .sup::before, .village::before, .location::before {
      top: 0rem;
      left: 0rem;
      bottom: 0rem;
      right: 0rem;
  
  }
  
  .surf::before{
    top: 1rem;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
  }
  }
    
  @media only screen and (min-width: 768px){
    .flex-container{
      max-width: 70vw;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 767px){
    #block-yby .col{
    min-width: 100%;
    padding-bottom: 2rem;
    }
  }
  