/*HOMEPAGE HERO*/

  #block-ids .block-content {
      height: auto !important;
  }
  
  /*SURF HERO*/
  #block-eza{
    height: 70vh;
    background: rgba(0, 0, 0, 0.1);
  }
  
  #block-eza .block-background{
    background-position: bottom !important;
  }

  /*STUDIO BLOCK*/
  #block-yzd{
    max-width: 80vw;
    margin-left: auto !important;
    margin-right: auto !important;
}

/*ABOUT US*/
#block-tr9 .block-background{
  background-position: bottom center !important; 
}

/*WORLD SURF RESERVE*/
#block-caw .block-background,
#block-ig7 .block-background{
  background-position: bottom center !important; 
}

/*MOBILE*/

/* SURF TABLE */
@media screen and (max-width: 1045px) and (min-width: 835px) {
  .priority-7{
    display:none;
  }
  
  .priority-6{
    display:none;
  }

  .priority-5{
    display:none;
  }
}

@media screen and (max-width: 565px) and (min-width: 300px) {
  .priority-7{
    display:none;
  }
  
  .priority-6{
    display:none;
  }

  .priority-5{
    display:none;
  }
}

@media screen and (max-width: 300px) {
  
  .priority-7{
    display:none;
  }
  
  .priority-6{
    display:none;
  }

  .priority-5{
    display:none;
  }
  .priority-4{
    display:none;
  }
}

  
  
  #block-h7j .block-content, #block-mki .block-content, #block-0dp .block-content{
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  }
  
  

    
 
  