/*HOMEPAGE HERO*/

  #block-ids .block-content {
      height: auto !important;
  }
  
  /*SURF HERO*/
  #block-eza{
    height: 70vh;
    background: rgba(0, 0, 0, 0.1);
  }
  
  #block-eza .block-background{
    background-position: bottom !important;
  }

/*REVIEWS*/
  #block-mdo{
    padding-bottom: 0;  
    }
    
    #block-jyi{
      padding-bottom: 1rem;
    }
    
    #block-fxy{
        margin-bottom: 0.5rem;
    }
  
  /*MOBILE*/
  
  #block-h7j .block-content, #block-mki .block-content, #block-0dp .block-content{
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  }
  
  

    
 
  