#block-9lu {
    margin-top: 135px;
}


#block-t3d,
#block-9lu{
    padding-top: 0;
    text-align:center;
}

#block-9lu .row{
height: 90vh;

}

#block-t3d .row{
    height: 90vh;
}
#block-tsk .block-content,
#block-t3d .block-content,
#block-9lu .block-content{
    max-width: 100%;
}

#block-tsk .block-content,
#block-t3d .container,
#block-9lu .container{
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.hero-logo{
    margin-top:30%;
}

.hero-subscribe{
    margin-top: 3rem;
}

#reviews{
    text-align: center;
}


#signup{
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    min-height: 50vh;
}

#mce-EMAIL{
    border: 1px solid #c5c5c5 !important;
    background-color: #f0f0f0 !important;
    font-style: italic;
    min-width: 15rem !important;
    height: 38px;
}

.subscribe-copy{
    color: #fff;
    margin-right: 2rem;
}

#reviews .col{
    flex-basis: 0 !important;
    flex-grow: 1 !important;
    max-width: 100% !important;
}

.teacher-content{
max-width: 80%;
margin-left: auto;
margin-right: auto;
}

#block-4jd{
    height: 90vh;
    background: rgba(0, 0, 0, 0.3);
}

#block-4jd h1,
#block-4jd p{
color: white;
}


#block-4jd .block-content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
}

#block-4jd > div.block-content > div,
#block-4jd > div.block-content > div > div{
    max-width: 100%;
    width: 100%;
}

#mergeRow-gdpr{
    display: none;
}

@media only screen and (max-width: 767px){
    #reviews .col {
        min-width: 100%;
        padding-bottom: 2rem;
}
}

/* Footer */

	.underline {
		text-decoration: underline
	}
	.container.bordered {
		border-left: 1px solid #595958;
		border-right: 1px solid #595958
	}
	.silver {
		color: #999
	}
	.tracked {
		letter-spacing: .1em
	}
	.white-t {
		color: #FFF
	}
	.white {
		background-color:#fff
	}
	.ba {
		border-style: solid;
		border-width: 1px
	}
	.b--white {
		border-color: #fff
	}
	.bg-transparent {
		background-color: transparent
	}
	.f7 {
		font-size: .75rem
	}
	.br0 {
		border-radius: 0
	}
	.bw2 {
		border-width: .25rem
	}
	.pointer {
		cursor: pointer
	}
	.hover-bg-white:focus,
	.hover-bg-white:hover {
		background-color: #fff
	}
	.hover-black:focus,
	.hover-black:hover {
		color: #000
	}
	footer {
		color: #908f8f
	}

	footer .innerContainer {
		padding: 0 15px
	}

	footer .underline {
		border-bottom: 1px solid #595958
	}
	.socialLinks {
		float:right;
		list-style:none;
		padding:16px 12px;
		margin:0;
	}
	.socialLinks li a {
		display: block;
		background: center center no-repeat;
		width: 18px;
		height: 18px;
		padding: 0 10px;
		background-size: 14px 14px;
		opacity: 1;
		transition: opacity .5s ease;
	}
	footer .socialLinks li {
		display:inline-block;
		border-left:1px solid #fff;
	}
	footer a {
		color:#fff;
	}
	footer a:hover {
		text-decoration:none;
	}
	footer ::placeholder {
		color:#fff;
	}
	#followArea {
		float: right;
		border-left: 1px solid #595958;
		padding: 7px 0 7px 15px
	}

	#footerFollow span {
		padding-right: 85px;
		float: right;
		text-transform: uppercase;
		line-height: 52px
	}

	#footerCopyright,
	#footerFollow {
		font-family: 'Proxima N W01 Cd Smbd', sans-serif;
		font-size: 12px
	}

	#footerWidgets {
		list-style: none;
		margin-left: -30px;
		padding: 22px 0;
		font-family: 'Proxima N W01 Smbd', sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		line-height: 27px
	}

	#footerWidgets>li {
		float: left;
		width: 262px;
		max-width:20%;
		margin-left: 30px;
	}

	#footerWidgets .menu {
		list-style: none;
		padding:0;
	}

	#footerCopyright .container {
		padding: 24px 0
	}

	#footerCopyright ul {
		list-style: none;
		border-right: 1px solid #595958;
		display: inline;
		margin: 0 10px
	}

	#footerCopyright li {
		display: inline;
		padding: 0 10px;
		border-left: 1px solid #595958
	}
	#newsletterAndSearchFooter {
		max-width: 875px;
		align-items:center;
		justify-content:space-between;
		display:inline-flex;
		margin-top:15px;
	}
	#newsletterAndSearchFooter .newsletterForm {
		max-width: 290px
	}
	@media (max-width:576px) {
		#footerWidgets>li {
			max-width:100%;
			width:100%;
			margin:0;
			text-align:center;
		}
		#footerWidgets {
			margin-left:0;
			width:100%;
		}
		#footerCopyright .container {
			margin:auto;
			width:44%;
			border:none;
			text-align:center;
		}
		#footerCopyright ul {
			margin:0;
			padding:0;
		}
		#footerCopyright li {
			border:none !important;
			position:relative;
			left:-10px;
			top:10px;
		}
		#followArea {
			float:none;
			border-left:none;
		}
		#footerFollow span {
			float:none;
		}
	}

  .thisblock .column {
    width:100%;
}

@media (max-width:769px) {
    .thisblock .swiper-slide {
        margin-top:50px;
        background-size:contain;
        background-repeat:no-repeat;
    }
    .thisblock .swiper-slide .instagram-teacher {
        display:none;
    }
    #block-tsk .container.d-flex {
        flex-wrap:wrap;
    }
    #block-tsk .subscribe-copy, #block-tsk #mc_embed_signup {
        flex-basis:100%;
        text-align:center;
        margin:0;
    }
}
@media (max-width:576px) {
    #newsletterAndSearchFooter, #newsletterAndSearchFooter form {
        max-width:100%;
        width:100%;
    }
    #newsletterAndSearchFooter input {
        float:right;
    }
}
