
/* PROMO BAR */
#promo-bar {
    background-color: #000;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 40px;
    z-index: 110 !important;
    padding-bottom: 0;
}
#promo-bar .top-nav-cta a:hover {
    text-decoration: none;
}
#promo-bar .top-nav-cta {
    font-family: 'Gt-walsheim-pro-bold', sans-serif;
    font-size: 16px;
    padding: 4px 0;
}
#promo-bar .promobarsignup {
    padding: .2rem .75rem;
    margin-left: 1rem;
}
@media (max-width: 767px) {
    #promo-bar .top-nav-cta {
        font-size: 12px;
        padding: .6rem .75rem;
    }
    #promo-bar .promobarsignup {
        display: none;
    }
}

/* NAV */
#scroll-nav {
    position: fixed;
    top: 40px;
    z-index: 100;
    width: 100%;
}
.fb-20 {
    flex-basis: 20%;
}
#scroll-nav .nav-sides {
    width: 100px;
}
#scroll-nav img {
    margin: 10px 60px;
    width: 130px;
}
.bg-red {
    background-color: #f06f71;
}
#scroll-nav .nav-book {
    color: #fff;
    font-family: 'Gt-walsheim-pro-bold', sans-serif;
    padding-bottom: 5px;
    font-size: 1.2rem;
}

/* BOOK PAGE */
.book-header {
    background-color: #89D2D4;
}
.custom-products .collection-card {
    display: block;
    border: 1px solid #000;
    transition: 0.5s all;
    min-height: 100px;
    color: #000;
    background-color: #fff;
    height: 100%;
    transition: 0.5s all;
}
.custom-products .collection-card:hover {
    text-decoration: none;
    box-shadow: 5px 5px 5px 0px #000;
}
.custom-products .btn-outline-primary {
    border-color: #000;
    color: #000;
}
.custom-products .btn-outline-primary:hover {
    border-color: #ec696e;
    color: #fff;
}
.custom-products .card-img-top {
    width: 100%;
    height: 170px;
    object-fit: cover;
}
.custom-products .card-text {
    padding: 0 15px;
}
.custom-products .card-text .card-title {
    min-height: 50px;
}
.custom-products .card-text .card-tag {
    min-height: 80px;
}
.custom-products .card-text .card-price span {
    color: #f06f71;
}