/* General Stuff */

.text-block .block-content {
    max-width:550px;
}
#block-mz7 .block-content {
    max-width:650px;
}
#menu .nav-link {
  font-weight: bold;
}
#menu-navbar {
  padding-top: 12px;
  font-size: 1.1rem;
  justify-content: flex-end;
}
#menu.navbar {
  background-color:transparent;
  transition:0.5s all;
  padding: 0 1rem;
}
#menu.solid-bg, .navbar.open {
  background-color:#fff;
}
#menu-cta {
  position: relative;
  top: 3px;
  left: 10px;
  font-weight:bold;
}
.nav-item {
  margin-right:30px;
}
.btn-outline-secondary {
    color: #fff;
    border-color: #fff;
}
.btn-outline-secondary:hover {
    background-color:transparent !important;
    color:#fff !important;
    border-color:#fff !important;
}
#menu.navbar {
    position:fixed;
    top:0;
    width:100%;
    z-index:99;
}
#menu .navbar-brand {
    width:140px;
}
.navbar-brand img {
    width:100%;
    height:auto;
}
#block-vio .block-content, #block-ch0 .block-content, #block-urm .block-content, #block-ntc .block-content {
  max-width:unset;
  padding:0 5%;
}

@media (min-width:800px) {
    .text-and-image-block .block-content {
   max-width:100%;
   padding:0;
}
.text-and-image-block h1 {
    text-transform:uppercase;
}
.text-and-image-block .col-12.d-flex {
    align-items:center;
}
.text-and-image-block .col-12.d-flex * {
    display: block;
    max-width: 475px;
    width:100%;
}
.text-and-image-block .col-12.d-flex p {
    text-align:justify;
}
.text-and-image-block h1:first-child {
    font-size: 0.6rem;
    font-weight: normal;
    display: block;
    position: relative;
    top: 12px;
    left: 2px;
}
.text-and-image-block h1:only-of-type {
    font-size: 2.5rem;
    position: static;
    text-align: left;
}
.text-and-image-block .btn {
    width:fit-content !important;
}
.text-and-image-block img {
    width: 100%;
}
.text-and-image-block, .text-and-image-block .col-12, .text-and-image-block .col-6 {
    padding: 0 !important;
}
}


/* Top Section Video BG */

#block-seb {
    padding:5rem 0 0 0;
    z-index:0;
}
#block-seb .block-content {
    width:100%;
    max-width:100%;
    padding:0;
    margin-bottom:-10px;
}
#block-seb video {
    width:100%;
}
#block-seb .intro-content {
    width: 30%;
    min-width: 300px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    text-align: center;
}

/* Promo Bar */

#block-k8f {
    color:#fff;
    padding:1rem 0;
}
#block-k8f .block-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:unset;
}
#block-k8f p {
    margin:0 30px 0 0;
}

#block-k8f {
    color:#fff;
    padding:1rem 0;
}
#block-k8f .block-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#block-k8f p {
    margin:0 30px 0 0;
}

/* Party on top of the world */

#block-i2h {
    color:#fff;
    padding-bottom:10px;
}
#block-taq .block-content {
  display:flex;
  align-items:center;
  max-width:550px;
}
#block-taq img {
  width:220px;
}
#block-taq .text-right {
  flex-grow:1;
}
#block-taq h2 {
  font-size: 1rem;
  margin: 0;
}

/* Press Images */

#block-ydr {
  background:#f3f3f3;
}
#block-ydr img {
  flex: 10%;
  width: 10%;
}
#block-ydr p {
  font-size:2rem;
  font-weight:bold;
}

/* Snow Music Adventure */

#block-xou, #block-zdv, #block-ec6, #block-utk {
  height:90vh !important;
}

#block-xou .block-content, #block-zdv .block-content, #block-ec6 .block-content {
    width: 30%;
    min-width: 300px;
    position: absolute;
    height: auto !important;
    color:#fff;
}
#block-xou .block-content, #block-ec6 .block-content {
  top:10%;
  left:1%;
}
#block-xou .text-center {
  text-align:left!important;
}
#block-zdv .block-content {
  bottom:5%;
  right:1%;
}

/* How to Book */

.how-to-book img {
  width: 70px;
}
.book-step {
  color:#64c5e1;
  margin:10px 0 5px;
}
.book-title {
  font-weight:bold;
  font-size:1.1rem;
  min-height:10px;
}
.book-content {
  font-size:0.8rem;
  margin-bottom:50px;
  text-align:justify
}
#block-zac .image-grid-entry-overlay {
  opacity:1 !important;
  background:rgba(0,0,0,0);
  text-align:center;
}
#block-zac .image-grid-entry:hover .image-grid-entry-overlay
 {
  background:rgba(0,0,0,0.3) !important;
 }
#block-zac .image-grid-entry h2 {
  font-size:3rem;
}

/* Reviews Section */

#block-1mu .image-grid-entry {
  margin:4rem 0 !important;
}
#block-1mu .image-grid-entry-overlay {
    opacity: 1;
    color: #000 !important;
    background: transparent;
    text-align: center;
    height: 135%;
    top: -14%;
}
#block-1mu .image-grid-entry-overlay .d-flex {
  position:relative;
}
#block-1mu .image-grid-entry-overlay h2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    width: 100%;
}
#block-1mu .image-grid-entry-overlay p {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
}

/* Blog */

.blog-img {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    margin: 2em 0;
    position:relative
}
.blog-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

/* Instagram Feed */

#block-vpy {
  padding-top:0;
}

/* Mailchimp Signup Form */

#block-9wd {
  color:#fff;
}
#block-9wd #mce-EMAIL {
  background: transparent;
  border: 1px solid #fff !important;
}
#block-9wd #mc-embedded-subscribe {
  background:#fff;
  border-color:#fff;
    color:#86b9b0;
}
#block-9wd ::-webkit-input-placeholder {
    color:    #fff;
}
:-moz-placeholder {
   color:    #fff;
   opacity:  1;
}
#block-9wd ::-moz-placeholder {
   color:    #fff;
   opacity:  1;
}
#block-9wd :-ms-input-placeholder {
   color:    #fff;
}
#block-9wd ::-ms-input-placeholder {
   color:    #fff;
}

#block-9wd ::placeholder {
   color:    #fff;
}
#block-9wd #mergeRow-gdpr {
  display:none;
}

/* Shop Page */
#block-u8t {
  padding-top:6rem;
}

.product-row-block .collection-card {
  display:block;
  border: 1px solid #ececec;
  transition:0.5s all;
  min-height:240px;
  color:#000;
}
.product-row-block .collection-card a {
    color:#000;
}
.product-row-block p {
  padding:0 15px 10px;
}
.product-row-block small {
  display:none;
}
.product-row-block .collection-card:hover, .dual-product-block .col-12:hover, #block-wgf .block-content:hover {
  box-shadow: 5px 5px 5px 0px rgba(236,236,236,1);
  text-decoration:none;
}
@media (min-width:800px) {
  .dual-product-block .col-12 {
    text-align: left !important;
    border: 1px solid #ececec;
    padding: 0;
    flex: 0 0 48%;
    width: 48%;
    transition:0.5s all;
    }
}
.dual-product-block .col-12:first-child {
  margin-right:2% !important;
}
.dual-product-block .d-flex, .dual-product-block p {
  padding:0 15px;
}
.dual-product-block .btn {
  margin:15px !important;
}
#block-wgf .block-content {
    border: 1px solid #ececec;
    padding-left: 0;
    transition:0.5s all;
}
#block-wgf .col-12:first-child {
  padding-left:0;
}
#block-wgf .text-center {
  text-align:left !important;
}
#block-bkn {
  color:#fff;
}

/* Ambassadors Page */

#block-us5 .block-background {
  background-position:top center !important;
}

/* FAQ */

.accordion-entry {
  border:1px solid #000 !important;
  border-top:none !important;
}
.accordion-entry:first-child {
  border-top:1px solid #000 !important;
}
.accordion-entry i.fa-chevron-right:before {
    content:'\f067';
}
#block-8gy a, #block-8gy a:hover {
    color:#fff;
}

#block-6xk > div.block-content {
  max-width: 1200px;
}

/* Contact Page */

#block-aqo a {
    color:#000;
}

/* Footer */

#footer-navbar {
  margin-left:50px;
  font-size:1.5rem;
  justify-content:flex-end;
}
#footer-navbar .navbar-nav {
  border-bottom:2px solid #fff;
}
#footer-navbar #terms {
  margin-right:0;
}
#footer-navbar a.nav-link, #footer .text-left a {
  color:#fff;
}

#footer {
  background-color:#86b9b0 !important;
}
#footer .navbar-brand {
  width:100px;
}
#footer .text-left {
  padding: 75px 0 15px 5%;
  font-size: 1.5rem;
}
#footer .text-left a:hover {
  text-decoration:none;
}
#footer .fixers-stamp {
  margin:0;
}

@media (max-width:500px) {
  #menu-cta {
    position:static;
    margin-bottom:30px;
  }
  #block-seb video {
    height:450px;
    object-fit:cover
  }
  #block-seb .btn {
    margin:5px 0 !important;
  }
}

/* MOVED FROM DEVELOPER AREA */

body {
  overflow-x:hidden;
}
.risenav {
  width: 100vw;
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  bottom: 0;
  height: calc(100vh - 122px);
  z-index: 12 !important;
  text-align: center;
  align-items: center;
  justify-content: center;
  display:none;
}
.risenav a {
  color: #89D2D4;
  font-size: 1.5rem;
  font-family: 'Gt-walsheim-pro-bold', sans-serif;
  display:block;
  margin-bottom:3rem;
}
.risenav a:hover {
  text-decoration: none;
  color: #ec696e;
}
#top-nav a.active, #scroll-nav a.active {
  border-bottom:2px solid #fff;
}
#top-nav:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  z-index: -1;
  max-width: 1920px;
  width: 100vw;
  height: 3000px;
  background-image: url('https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Rise/Assets/rise-main-overlay.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  pointer-events: none;
}
body.popup-open, body.nav-open {
  overflow:hidden;
}

.fullwidth, .popup, .customhero {
  padding:0 !important;
  z-index:9 !important;
}
.customhero {
  z-index:8 !important;
}
.fullwidth .block-content, .customhero .block-content {
  max-width:100%;
}
#top-nav {
  position:relative;
  z-index:2;
}
#top-nav a:hover, #scroll-nav a:hover {
  text-decoration:none;
  color:inherit;
}
.hero-links a {
  color: #fff;
  margin: 10px 20px;
  display: inline-block;
  font-family: 'Gt-walsheim-pro-bold', sans-serif
}
.top-nav-cta {
  flex-grow: 1;
  text-align: center;
  padding: 25px 0;
  margin: 0;
}
.nav-sides {
  width:100px
}
.nav-social a {
 	background: #fff;
 	width: 25px;
 	height: 25px;
 	display: inline-flex;
 	justify-content: center;
 	align-items: center;
 	border-radius: 50%;
 	margin: 0 5px;
}
.nav-social i {
  position:relative;
  top:-1px;
  left:1px;
}
.nav-social i.fa-facebook {
  left:0;
}
#scroll-nav .nav-social a:hover {
  color:#f06f71;
}
#scroll-nav img {
  margin:10px 60px;
  width:130px;
}
#scroll-nav {
  position:fixed;
  top:0;
  z-index:11;
  width:100%;
}

.nav-book {
  color: #fff;
  font-family: 'Gt-walsheim-pro-bold', sans-serif;
  padding-bottom: 5px;
  font-size: 1.2rem;
}

.nav-book:hover {
  border-bottom: 2px solid #fff;
}
.text-red {
  color:#f06f71;
}
.text-blue {
  color:#89d2d4;
}
.bg-red {
  background-color:#f06f71;
}
.bg-blue {
  background-color:#89d2d4;
}
.block.custom-block {
  padding:0;
  position:relative;
  z-index:0;
}
.custom-block .btn-secondary, #top-nav .btn-secondary {
  color:#fff;
  background:transparent;
  border:2px solid #fff;
}
.custom-block .block-content {
  padding:0;
  max-width:100%;
}
.custom-block .container {
  padding:10px 0;
}
.custom-hero {
  background-size:cover;
  background-repeat:no-repeat;
  height:63vh;
  text-align:center;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  color:#fff;
}
.custom-hero-content {
  padding:0 30%;
}
.custom-hero .two-alps {
  position:absolute;
  bottom:10px;
  right:20px;
  width:175px;
}
.custom-hero .two-alps img {
  width:100%;
  margin-bottom:1em;
}
.fb-100 {
  flex-basis:100%;
}
.fb-20 {
  flex-basis:20%;
}
.custom-hero-img img {
  width:200px;
  margin-top:10vh;
}
.custom-hero-cta p {
  margin-bottom:0;
}
.custom-hero-cta img {
  width:50px;
}
.custom-double .row {
  margin:0;
}
.custom-double-bg {
  width:calc(100% - 10px);
  height:100%;
  background-size:cover;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
}

.filter {
  filter:brightness(75%);
}

.custom-double .text-center {
  z-index:10;
}
.custom-double p {
  padding:0 20%;
}
.custom-double .col-12.top-overlay:before {
  content:'';
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  background-image:url('https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Rise/Assets/overlay-top.png');
  background-size:cover;
  opacity: 0.5;
}
.custom-double .col-12.bottom-overlay:before {
  content:'';
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  background-image:url('https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Rise/Assets/overlay-bottom.png');
  background-size:cover;
  opacity: 0.5;
}
@media (min-width:768px) {
  .custom-double .col-12:first-child .custom-double-bg {
  	margin-right:10px;
	}
	.custom-double .col-12:last-child .custom-double-bg {
  	margin-left:10px;
	}
}
.custom-signup p {
  width:50%;
  min-width:350px;
  margin:auto;
}
.custom-signup-text, #mce-EMAIL {
  margin: 10px;
  text-align: center;
  outline: none;
  border: none;
  color: #f06f71;
  border-bottom: 2px solid #f06f71 !important;
  width: 120px !important;
  padding: 10px 0;
  line-height: 1;
  height: auto;
  background: transparent !important;
  box-shadow: none !important;
}
#popup-inner .custom-signup-text {
  font-size:1rem;
  width:25% !important;
}
.custom-signup-text::placeholder, #mce-EMAIL::placeholder {
  color:#f06f71;
  font-family:'Gt-walsheim-pro-bold';
}
#mc-embedded-subscribe {
  width:50px;
}
.custom-video {
  position:relative;
}

.custom-video .btn {
    position: relative !important;
    bottom: 150px;
}

@media (max-width:991px) {
    .custom-video .btn {
    position: relative !important;
    bottom: 60px;
    }
}

.custom-video-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%,-50%);
}
.custom-review .swiper-button-prev, .custom-review .swiper-button-next {
  position: absolute;
  top: unset;
  bottom: 10%;
  width: 25px;
  height: 35px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.custom-review .swiper-button-prev {
  left:unset;
  right:60px;
}
.custom-review .swiper-button-next {
  left:unset;
  right:20px;
}
.custom-review .swiper-button-prev {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E");
}
.custom-review .swiper-button-next {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E")
}
.custom-review-img {
  width:100%;
  height:100%;
  object-fit:cover;
}
.custom-review .col-12:first-child {
  padding-right:0;
  height:50vh;
}
.custom-review .col-12:last-child {
  padding-left:0;
}
.custom-review-title {
  padding:40px 10% 0 !important;
}
.custom-featured .row .col-6 img {
  width:100%;
}
.custom-featured-content, .custom-featured .row {
  width:100%;
  margin:auto;
  min-width:350px;
  padding-top: 10px;
  align-items: center;
  text-align: center;
}
.custom-slider .swiper-slide {
  background-size:cover;
  padding-top:24%;
}
.custom-slider .swiper-slide h1 {
  position:absolute;
  width:100%;
  top:50%;
  transform:translateY(-50%);
}
.custom-blog {
  padding:0;
}
.custom-blog .row {
  margin:0;
}
.custom-blog-intro {
  width:50%;
  min-width:350px;
  margin:auto;
}
.custom-blog .col-12 {
  padding:0 10px;
}
.custom-blog .col-12:first-child {
  padding:0 10px 0 0;
}
.custom-blog .col-12:last-child {
  padding:0 0 0 10px;
}
.custom-blog-img {
 	padding-top: 30vh;
  min-height:260px;
  background-size: cover;
  background-position: center;
}
.custom-blog h3 {
  min-height:100px;
}
.custom-blog-content {
  padding:30px 40px;
}
.blog-nav {
  display:none;
}
#instafeed {
  margin:0;
}
#instafeed .col-6 {
  padding:10px;
}
#instafeed .col-6:nth-child(3n+1) {
  padding-left:0;
}
#instafeed .col-6:nth-child(3n+3) {
  padding-right:0;
}
#instafeed .col-6:nth-child(3n+2) .insta-img {
  padding-top: calc(100% + 10px);
}
#instafeed .insta-img {
  margin: 0;
  width: 100%;
  padding-top: 100%;
  background-size:cover;
  position:relative;
}
#instafeed .insta-hover {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.8);
  opacity:0;
  transition:0.5s opacity;
}
#instafeed .insta-img:hover .insta-hover {
  opacity:1
}
#instafeed i {
  padding-right:10px;
}
@media (max-width:576px) {
  #instafeed .col-6:last-child {
    display:none;
  }
}
#email-popup {
  display:none;
}
#email-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.8);
  align-items: center;
  justify-content: center;
  z-index:11;
}
#popup-inner {
  width:75%;
  min-width:300px;
  max-width:1050px;
  position:relative;
}
.popup-left {
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  text-align: center;
  background-size:cover;
}
.popup-left:before {
  content:'';
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image:url('https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Rise/Assets/popup-mask.png');
  background-size:cover;
}
.popup-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Gt-walsheim-pro-bold;
  font-size: 1.2rem;
  padding: 10% 5% 5% 5%;
}
#closepop {
  position: absolute;
  color: #000;
  top: 10px;
  right: 0;
  z-index: 1;
  cursor: pointer;
}
.risenav #closepop {
  top: 10px;
  right: 30px;
}
footer {
  margin-top:3rem;
}
footer .container {
  padding:5% 5% 10% 5%;
}
footer img {
  width:150px;
}
footer a {
  color:#fff;
}
footer a:hover {
  text-decoration:underline;
  color:#fff;
}
footer h4 {
  font-family:'Gt-walsheim-pro-regular', sans-serif;
  margin-bottom:30px;
}
footer p {
  margin-bottom:5px;
}

@media (max-width:769px) {
  #top-nav:before {
    background-size:160vh;
  }
  #block-u6h .block-content, .customhero .block-content {
    max-width:100%
  }
  .risenav #closepop {
    top: 10px;
    right: 15px;
    left: unset;
  }
  .nav-sides, #scroll-nav h4, .nav-social, #scroll-nav .text-right {
    display:none;
  }
  .popup-left {
    height:40vh;
  }
  .popup-left h1 {
    font-size:2rem;
  }
  .popup-right {
    padding:5%;
  }
  .popup-right p {
    margin:0;
    font-size:0.8rem;
  }
  #mc_embed_signup .mc-field-group .custom-signup-text {
    width:35% !important;
  }
  #popup-inner .custom-signup-text {
    font-size:0.8rem;
    margin:5px 10px
  }
  #closepop {
    right:unset;
    left:0;
  }
  .custom-hero {
    height:65vh;
    background-position:70%;
  }
  .two-alps {
    display:none;
  }
  .custom-hero-content {
    padding:0 5%;
  }
  .custom-hero-img img {
    margin-top:5vh;
  }
  .custom-signup h1, .custom-video h1, .custom-review h1 {
    font-size:1.5rem
  }
  .custom-double-bg {
    height:calc(100% - 20px);
    width:100%;
  }
  .custom-double .col-12 {
    padding:110px 0;
    overflow:hidden;
  }
  .custom-double .col-12.bottom-overlay:before {
    background-size:contain;
    background-repeat:no-repeat;
  }
  .custom-double p {
    padding:0 5%;
  }
  .custom-slider .swiper-slide {
    padding-top:20%;
  }
  .custom-video-content {
    width:100%;
    padding:0 5%;
  }
  .custom-video video {
    height:50vh;
    object-fit:cover;
  }
  .custom-blog .row {
    position:relative;
    background-color:#f06f71;
    margin-left:-15px;
  }
  .custom-blog .col-12 {
    padding:0 !important;
    position:absolute;
    width:100vw;
    flex:0 0 100%;
    max-width:100%;
  }
  .custom-blog-content {
    padding:30px 10px;
    max-width:100vw;
    position:relative;
  }
  .custom-blog-img {
    min-height:200px;
    max-width:100vw;
  }
  .custom-blog .col-12:first-child {
    position:relative;
  }
  .custom-blog h3 {
    min-height:70px;
    font-size:1.5rem;
  }
  .blog-nav {
    display:block;
    position:absolute;
    z-index:0;
    color:#fff !important;
    font-size:30px;
    line-height:1;
    bottom:37px;
  }
  .blog-nav.prev {
    left:35px;
  }
  .blog-nav.next {
    right:35px;
  }
  .blog-article.active {
    z-index:9;
  }
  .custom-review .text-center {
    margin-bottom:20px;
  }
  .custom-review .col-12:first-child {
    padding:0;
    height:40vh;
    margin:0;
  }
  .custom-review .swiper-slide .row {
    margin-left:0;
    margin-right:0;
    max-width:100vw;
  }
  .custom-review .swiper-button-prev, .custom-review .swiper-button-next {
    bottom:unset;
    top:40px;
  }
  .custom-review .col-12:last-child {
    padding-right:0
  }
  .custom-review-title {
    padding:25px 10% 0 !important;
  }
  .custom-review .col-12:last-child {
    padding-right:0;
    padding-bottom:20px;
  }
  .custominsta .container-fluid, #instafeed {
    margin:0;
    padding:0;
  }
  #instafeed .insta-img {
    height:100%;
  }
  #instafeed .col-6 {
    padding:10px !important;
  }
  footer {
    text-align:center;
  }
  footer h4 {
    margin-top:50px;
  }
}
@media (max-width:576px) {
  .custom-blog .row {
    margin-left:0;
  }
}

/* NEW ADDITIONS */
.one-image p, .one-image a  {
    color: black !important;
}

.one-image h1 {
  margin-top: auto;
  margin-bottom: 30px;
  color: #89D2D4 !important;
}

.one-image p {
  margin-bottom: auto;
  text-align: justify;
}

.one-image .btn-secondary, #block-iwg > div.block-content > div > div > a {
    border: solid 1px black !important;
    color: black !important;
}

@media (min-width:768px) {
.custom-double .col-12 {
    width: 40vw !important;
    height: 40vw!important;
}
}

.custom-double .col-12 {
  max-height: 570px;
}

div.block-content > p {
    max-width: 700px;
    margin: auto;
}

 .image-grid-block {
    padding-bottom:6rem !important;
  }
  .image-grid-block .image-grid-entry-overlay .d-flex {
    display:block !important;
  }
  .image-grid-block .image-grid-entry-overlay {
    background:transparent;
    opacity:1;
  }
  .image-grid-block .image-grid-entry h2 {
    font-size:2rem;
    margin:45% 0 165px !important;
    min-height:76px;
    text-align:center;
  }
  .image-grid-block .image-grid-entry p {
    color:#000 !important
  }

@media (max-width:769px) {
  .image-grid-block .image-grid-entry h2 {
    min-height:115px;
    margin:45% 0 !important;
  }
  .image-grid-block .image-grid-entry {
    margin-bottom:8rem !important
  }
}

#block-knr a{
  margin-bottom: 0px;
  margin-top: 0px;
}

#block-knr h1, #block-hvn h1 {
  margin-top: 50px;
}

#block-knr p:nth-child(6) {
  margin-bottom: 50px;
}

#block-hvn p:nth-child(4) {
  margin-bottom: 80px;
}

#block-knr a {
  color: #89D2D4 !important;
}

#block-l4g > div.block-content > div {
  max-width: 80%;
}

#block-l4g {
  padding-top: 40px;
}

#block-l4g > div.block-content {
  text-align: center;
}

#block-7nx {
  padding: 5%;
}

#block-wlz {
  padding-top: 0;
}

#block-xqy {
  margin-top: 40px;
  margin-bottom: 10px;
}

#block-ywe > div.block-content > div > div {
  margin-bottom: -45px;
}

#block-2ki > div.block-content > div > div.row > div {
  min-width: 140px;
  max-width: 160px;
  margin-left: auto;
  Margin-right: auto;
}

#block-2ki > div.block-content > div > div.row > div > img {
  width: 100%;
}

div.block-content > div > div > div.col-12.col-md-6.d-flex.flex-wrap.justify-content-center.align-items-center.text-center.one-image.image-left > div {
  border: solid 1px #89D2D4;
}

div.block-content > div > div > div.col-12.col-md-6.d-flex.flex-wrap.justify-content-center.align-items-center.text-center.one-image > div {
  border: solid 1px #89D2D4;
}

#block-wlz > div.block-content > p:nth-child(4) > a {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid black;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  margin-top: 10px;
  color: black;
}

#block-wlz > div.block-content > p:nth-child(4) > a:hover {
  background: #ececec;
  text-decoration: none;
}

#block-knr > div.block-content > div > div > div.col-12.col-md-6.d-flex.flex-wrap.justify-content-center.align-items-center.text-center.one-image > div.row, #block-dp3 > div.block-content > div > div > div.col-12.col-md-6.d-flex.flex-wrap.justify-content-center.align-items-center.text-center.one-image.image-left > div.text-center.fb-100, #block-ggr > div.block-content > div > div > div.col-12.col-md-6.d-flex.flex-wrap.justify-content-center.align-items-center.text-center.one-image.image-left > div.text-center.fb-100 {
  border: none;
}

#block-7rt div.block-content > div > div > div.col-12.col-md-6.d-flex.flex-wrap.justify-content-center.align-items-center.text-center, #block-k4d div.block-content > div > div > div.col-12.col-md-6.d-flex.flex-wrap.justify-content-center.align-items-center.text-center, #block-xci div.block-content > div > div > div.col-12.col-md-6.d-flex.flex-wrap.justify-content-center.align-items-center.text-center, #block-ep0 div.block-content > div > div > div.col-12.col-md-6.d-flex.flex-wrap.justify-content-center.align-items-center.text-center {
  padding-top: 100px;
  padding-bottom: 100px;
}

#block-knr, #block-7rt, #block-6kl, #block-ynu, #block-fuk {
  margin-top: 10px;
}

#block-7nx div.card-img-overlay {
  padding-top: 45%;
  color: white;
}

#block-iwg {
  padding-left: 25%;
  padding-right: 25%;
}

#block-iwg > div.block-content > div > div {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#block-iwg > div.block-content > div > img {
  max-height: 250px;
  object-fit: cover;
  object-position: top;
}

#block-7nx {
  padding-bottom: 30px !important;
}

#block-byo, #block-pix, #block-dcl, #block-xps, #block-8oj, #block-1o0 {
  margin-bottom: 20px;
}

#block-byo {
  margin-top: 70px;
}

#block-7nx ul {
  list-style: none;
  padding: 0;
}

#block-7nx ul li:before {
  content: '✓ ';
}

#block-7nx div.card-footer {
    background-color: #89D2D4;
    color: white;
    text-align: center;
}

#block-rsw h1, #block-n9u h1, #block-i5w h1, #block-iok h1 {
  color: #fff;
  font-size: 3rem;
}

.collection-card {
  transition:0.5s all;
}

.collection-card:hover {
  box-shadow: 5px 5px 5px 0px rgba(236,236,236,1);
  text-decoration:none;
}

.collection-card h5 {
    text-align: center;
    font-size: 1rem;
    font-family: Gt-walsheim-pro-regular;
}

.collection-card div.card-body p {
    font-size: 0.8rem;
    font-family: Gt-walsheim-pro-regular;
}

.collection-card .card-footer {
    background-color: white;
    border: none;
    text-align: center;
}

.collection-card.sold-out {
  opacity: 0.6;
}

.collection-card.sold-out .btn:hover {
  background-color: white;
}

#block-xol > div.block-content > div > div > div > a > p:nth-child(5), #block-kiw > div.block-content > div > div > div > a > p:nth-child(5), #block-xi4 > div.block-content > div > div > div > a > p:nth-child(5), #block-55t > div.block-content > div > div > div > a > p:nth-child(5) {
  text-align: center;
}

#block-mgr > div.block-content > div > div > div > a > p.card-title.mb-0 {
  min-height: 10px;
}

#block-mgr > div.block-content > div > div > div > a > p:nth-child(3) {
  padding-bottom: 0;
}

#block-o3a {
  padding-bottom: 0px;
  color: #89d2d4;
}

#block-2ki {
  margin-top: 30px;
}

#block-2zp {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  
}

#block-mgr ul {
  list-style: none;
  font-size: 14px;
}

#block-mgr ul li:before {
  content: '✓ ';
}

#block-mgr > div.block-content > div > div > div:nth-child(1) > a > p.card-title.mb-0 > strong {
  font-family:Gt-walsheim-pro-regular;
}

a.collection-card {
  height: 100%;
}

#block-mgr > div.block-content > div > div > div > a > ul {
  padding-bottom: 80px;
}

#block-mgr p.small {
  position: absolute;
  bottom: 50px;
}

#block-mgr .button {
  position: absolute;
  bottom: 0px;
  padding-bottom: 0;
  width: 89%;
}

#block-mij .listing-card-text-wrap {
  padding-bottom: 100px;
}

#block-mij .price {
  position: absolute;
  bottom: 50px;
}

#block-mij .button {
  position: absolute;
  bottom: 0px;
  padding-bottom: 0;
  width: 89%;
}

#block-nta .listing-card-text-wrap {
  padding-bottom: 20px;
}

#block-nta .price {
  position: absolute;
  bottom: 50px;
}

#block-nta .button {
  position: absolute;
  bottom: 0px;
  padding-bottom: 0;
  width: 89%;
}

#block-xol .listing-card-text-wrap {
  padding-bottom: 100px;
}

#block-xol p.factual.mb-2.small {
  position: absolute;
  bottom: 50px;
}

#block-xol .button {
  position: absolute;
  bottom: 0px;
  padding-bottom: 0;
  width: 89%;
}

#block-kiw .listing-card-text-wrap {
  padding-bottom: 100px;
}

#block-kiw p.factual.mb-2.small {
  position: absolute;
  bottom: 50px;
}

#block-kiw .button {
  position: absolute;
  bottom: 0px;
  padding-bottom: 0;
  width: 89%;
}

#block-xi4 .listing-card-text-wrap {
  padding-bottom: 100px;
}

#block-xi4 p.factual.mb-2.small {
  position: absolute;
  bottom: 50px;
}

#block-xi4 .button {
  position: absolute;
  bottom: 0px;
  padding-bottom: 0;
  width: 89%;
}

@media (min-width:767px) {

#block-u6s p.card-title, #block-vrx p.card-title {
  min-height: 80px;
}

#block-u6s p.factual.text-uppercase.text-muted.mb-0.listing-card-text-wrap.mt-1.small, #block-vrx p.factual.text-uppercase.text-muted.mb-0.listing-card-text-wrap.mt-1.small {
  min-height: 70px;
}

#block-vrx > div.block-content > div > div > div > a > p.card-title {
  min-height: 80px;
}

#block-jna p.card-title, #block-vrx p.card-title {
  min-height: 60px;
}

#block-jna p.factual.text-uppercase.text-muted.mb-0.listing-card-text-wrap.mt-1.small, #block-vrx p.factual.text-uppercase.text-muted.mb-0.listing-card-text-wrap.mt-1.small {
  min-height: 90px;
}

#block-mgr > div.block-content > div > div > div:nth-child(5) > a > p.card-title.mb-0 {
  min-height: 60px;
}
}








/* HIDE BLOG */
#block-nqc {
  display: none;
}