/*
#app, .site-shop-nav, #app h1, #app h2, #app h3, #app h4, #app h5, #app h6, #app .h1, #app .h2, #app .h3, #app .h4, #app .h5, #app .h6, #app .availability-table {
  font-family:Gt-walsheim-pro-regular !important;
}
#app h1, #app h2, #app h3, #app h4, #app h5, #app h6, #app .h1, #app .h2, #app .h3, #app .h4, #app .h5, #app .h6 {
  text-transform:uppercase;
}
.site-shop-nav {
    justify-content:center;
}
.site-shop-nav .logo {
   display:none
}
.site-shop-nav .navbar-brand:before {
  content:'';
  width:4rem;
  height:4rem;
  background-image:url('https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Rise/Assets/Rise_logo_red.png');
  background-size:contain;
  display:block;
}
#app {
  background:#f7f7f9;
}
#app .block-background {
  z-index:0;
}
#app .text-center .btn-secondary {
    color:red;
    border-color:red;
}
#app hr {
    display:none;
}
#app .cart-footer .btn {
    background-color:#ec696e;
    border:none !important;
    color:#fff;
}
.availability-table .row-head:before, .availability-table .bookable-ticket-variant:before {
  border:2px solid #ec696e;
  color:#ec696e;
  background-color:#ec696e;
}
#app .segment-collapse {
    color:#ec696e;
}
#app .number-stepper-round .btn {
  border:1px solid #000 !important;
  color:#000;
}
.cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link:hover, .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link.active {
    background-color:#64c5e1 !important;
}
.cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link:hover:after, .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link.active:after {
    border-left-color:#64c5e1 !important;
}
.cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link:hover:before, .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link.active:before {
    border-color:#64c5e1 !important;
    border-left-color:transparent !important;
}
#app .btn-secondary:hover {
    background-color:#000;
}
#cart-shop-nav-mobile .nav-item {
  float:left !important;
  width:100%;
}
#cart-shop-nav-mobile .nav-link {
  padding:0 !important;
  margin-right:0 !important;
  font-size:0.9rem !important;
}
@media (max-width:600px) {
  .cart-shop-navbar.sticky {
    position:static;
  }
}
*/