/*FONT SIZE OVERIDE*/
h1 {
  font-size: 3rem !important;
}


/*NAVBAR */

#menu {
    background-color: #f4f1ea;
  }

  div#menu-navbar{
    justify-content: center;
  }

  #menu-navbar > ul{
    justify-content: space-around;
    width: 500px;
  }

  .nav-link{
      font-family:"Ostrich-regular";
      font-size: 1.5em;
      text-transform: uppercase;
      color: #446655 !important
  }

  #menu-cta {
    font-size: 1.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
    letter-spacing: 2px;
}

  .nav-link:hover {
      color: #f36958 !important;
  }

  .navbar-brand img {
      height: 100px;

  }

  @media only screen and (min-width: 768px){
    .navbar-expand-md .navbar-nav .nav-link{
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      }
  }

  @media only screen and (max-width: 768px) {

    #menu > div > a.navbar-brand {
      display: none;
    }

    #menu-cta {
      display: none;
  }

  }

  /*PARTNERS*/

  #block-klj {
    margin-left: 0px !important;
    margin-right: 0px !important;
    max-width: 100% !important;
    width: 100% !important;
    background-color: #f4f1ea;
  }

  #block-klj .block-container {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .flex-item {
    margin: auto;
  }

  .flex-container img {
    max-width: 125px;
    padding: 20px;
  }

  /* BUTTONS */
  .btn-outline-primary {
    border-radius: 20px !important;
    letter-spacing: 3px;
    font-family: Ostrich-regular;
  }

  .btn-outline-primary:hover {
    border: solid 1px #f36958 !important;
  }

  .btn-primary {
    font-family: Ostrich-regular;
  }

  #menu-cta {
    border-radius: 20px !important;
}

  /* SECTION STYLING */

#block-nac > .block-content, #block-g63 > .block-content, #block-9to > .block-content, #block-olk > .block-content {
  width: 400px;
  background: none;
  border: none;
  color: white;
}

#block-nac > .block-content > div > a, #block-g63 > .block-content > div > a, #block-olk > .block-content > div > a  {
  border: solid 1px white;
  color: white;
}

#block-nac, #block-9to, #block-g63, #block-olk {
    height: 35rem !important;
}

#block-6di > div.block-content {
  max-width: 600px;
}

#block-aga > div.block-content > div > div {
  background: #446655;
  text-align: center !important;
}

#block-aga p, #block-aga h1{
  text-align: center;
  color: white;
  margin-bottom: 3px;
}

.card {
  border: none !important;
}

#block-aga .card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

#block-g63 > div.block-content, #block-olk > div.block-content {
  margin-top: 70px;
  height: 300px;
}

#block-aga > div.block-content > div > div > div > div > a {
  color: white;
  border: solid 1PX white;
  margin-top: 10px;
}

@media only screen and (min-width: 1010px){
  #block-nac > .block-content, #block-g63 > .block-content {
    margin-left: 60%;
  }

  #block-9to > .block-content, #block-olk > .block-content {
    margin-right: 60%;
  }
}

/*FOOTER*/
#footer {
  background-color: #f4f1ea !important;
}

#mergeRow-gdpr > div {
  display: none !important;
}

/*HERO IMAGE*/
#block-slu {
  height: 600px;
}

#custom-header > div {
  margin-top: 50px;
  text-align: center;
}

#custom-header > div > img {
  margin-bottom: 15px;
}

#custom-header > div > h4 {
  color: white;
}

#block-45a, #block-45a.block-content {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  max-width: 100%;
}

.swiper-container {
  max-width:100% !important
}

#block-45a > div.block-content.swiper-block {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  max-width: 100%;
}

/* ABOUT PAGE */
#block-a3s > div.block-content, #block-gvo > div.block-content {
  max-width: 600px;
}

#block-vv1 > div.block-content, #block-ctb > div.block-content > h1 {
  color: white;
}

#block-jzi > div.block-content > div > div.col-12.col-md-6.d-flex.flex-column.justify-content-center.col-text > p, #block-ulp > div.block-content > div > div.col-12.col-md-6.d-flex.flex-column.justify-content-center.col-text > p {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#block-vv1 > div.block-content > p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* sponsors */
#block-i08 .faux-image {
  width: 100px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px auto;
}

#block-i08 .image-grid-entry {
  margin: 15px;
  max-width: 100px !important;
}

/*FAQs*/
#block-waz > div.block-content > div {
  background-color: #f4f1ea;
  border: none;
}

/* Program */

#block-9ig .image-grid-entry h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px !important;
}
#block-9ig .image-grid-entry-overlay {
  position: static;
  opacity: 1;
  background: transparent;
  height: auto;
  padding: 0;
  margin: 30px 0;
  color: #446655 !important;
}

.line-up-element {
  font-size: 30px !important;
  line-height: 30px !important;
}

#block-pka, #block-xaz, #block-nsh {
  padding: 5px;
}

#block-nsh {
  padding-bottom: 50px;
}

#block-pka h1, #block-xaz h1, #block-nsh h1 {
  font-size: 36px !important;
}