/*NAVBAR */

#menu {
    background-color: #f4f1ea;
  }
  
  div#menu-navbar{
    justify-content: flex-end;
    padding-right: 30px;
  }
  
  .nav-link{ 
      font-family:"Ostrich-regular";
      font-size: 1em;
      text-transform: uppercase;
      color: #446655 !important
  }
  
  .nav-link:hover {
      color: #f36958 !important;
  }
  
  .navbar-brand img {
      height: 100px;
      
  }
  
  @media only screen and (min-width: 768px){
    .navbar-expand-md .navbar-nav .nav-link{
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      }
  }
  
  /*PARTNERS*/
  
  #block-klj {
    margin-left: 0px !important;
    margin-right: 0px !important;
    max-width: 100% !important;
    width: 100% !important;
    background-color: #f4f1ea;
  }
  
  #block-klj .block-container {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  
  .flex-item {
    margin: auto;
  }
  
  .flex-container img {
    max-width: 125px;
    padding: 20px;
  }
  
  /* BUTTONS */
  .btn-outline-primary {
    border-radius: 20px !important;
    letter-spacing: 3px;
    font-family: Ostrich-regular;
  }

  .btn-primary {
    font-family: Ostrich-regular;
  }

  /* SECTION STYLING */

#block-g63 > .block-content {
    width: 400px;
    background-color: #f4f1ea;
    border: none;
    opacity: 0.8;
    margin-left: 60%;
}

#block-nac > .block-content {
  width: 400px;
  margin-left: 60%;
  background: none;
  border: none;
}

#block-nac > .block-content > p, #block-nac > .block-content > h1, #block-nac > .block-content > p, #block-nac > .block-content > div > a  {
  color: white;
}

#block-nac > .block-content > div > a  {
  border: solid 1px white;
}

#block-9to > .block-content, #block-olk > .block-content {
    width: 400px;
    background-color: #f4f1ea;
    border: none;
    opacity: 0.8;
    margin-right: 60%;
}

#block-nac, #block-9to, #block-g63, #block-olk {
    height: 35rem !important;
}

#block-6di > div.block-content {
  max-width: 600px;
}

#block-aga > div.block-content > div > div {
  background: #446655;
  text-align: center !important;
}

#block-aga p, #block-aga h1{
  text-align: center;
  color: white;
  margin-bottom: 3px;
}

.card {
  border: none !important;
}

#block-g63 > div.block-content, #block-olk > div.block-content {
  margin-top: 70px;
  height: 300px;
}

#block-aga > div.block-content > div > div > div > div > a {
  color: white;
  border: solid 1PX white;
  margin-top: 10px;
}

/*FOOTER*/
#footer {
  background-color: #f4f1ea !important;
}

#mergeRow-gdpr > div {
  display: none !important;
}

/*HERO IMAGE*/
#block-slu {
  height: 600px;
}

#custom-header > div {
  margin-top: 50px;
  text-align: center;
}

#custom-header > div > img {
  margin-bottom: 15px;
}

#custom-header > div > h4 {
  color: white;
}