/* Headings */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight:bold !important
}

/* Nav */

#menu .navbar-brand {
    display:none !important;
}
#menu {
    padding:0 1rem;
    font-family:'futuraptmedium', sans-serif;
    font-size:14px;
}
#menu a {
    text-transform:uppercase;
    font-weight:bold;
}
.navbar-nav {
    width:100%;
    justify-content:space-evenly;
}
.nav-item {
    flex:1 1 0;
    text-align:center;
    padding:1.5rem 0;
}
.nav-item#book-now, .nav-item:hover {
    background-color:#fc4f60;
}
.nav-item#book-now a, .nav-item:hover a {
    color:#fff !important;
}
#full-logo {
    position: absolute;
    left: 50%;
    top: 85px;
    transform: translateX(-50%);
    z-index: 1029;
    width: 70%;
    max-width: 338px;
}
.sticky #full-logo {
    display:none;
}
#shorthand-logo {
    display:none;
    position: sticky;
    z-index: 1031;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;

}
.sticky #shorthand-logo {
    display:block;
}

/* Global BG's */

body {
    background: url(https://canvas-themes.s3-eu-west-1.amazonaws.com/Seller+Sites/Nova+Batida/body-bg.png) #51eed8;
    background-repeat: repeat-y;
    background-position: center 77px;
    background-size: auto;
}
.block-page .block {
    background-color:#51eed8;
    max-width: 1140px;
    margin: auto;
}

/* Header Block */

.nova-header {
  height:60vh;
  margin-top:6rem;
  position:relative;
}
.nova-header-content {
  position: absolute;
  bottom: 40px;
  left: 60px;
}
.nova-header-content h1 {
    background-color:#1bdcbf;
    font-size:3rem;
    font-weight:bold;
    padding:10px 20px;
    margin-bottom:10px;
    width:fit-content;
}
.nova-header-content p.h4 {
    background-color:#1bdcbf;
    font-size:2rem;
    font-weight:bold;
    margin-top:10px;
    padding:5px 10px;
    width:fit-content;
}

/* Dual Product Blocks */

.dual-product-block .col-12 {
    background: #fc4f60;
    color: #fff;
    flex: 0 0 49%;
    max-width: 49%;
    margin: 0 0.5% !important;
}
.dual-product-block .card-img {
    width: calc(100% + 30px);
    max-width: unset;
    margin-left: -15px;
    max-height:350px;
    object-fit:cover;
}

/* Footer */

footer {
    background-color:#13ceae;
    padding-bottom:0.5rem;
}
.footer__content {
    text-align:center;
    width:300px;
    margin:auto;
}
.footer__logo {
    width:100%;
    height:auto;
    margin:3rem 0 1rem;
}
.footer__image {
    background: url(https://canvas-themes.s3-eu-west-1.amazonaws.com/Seller+Sites/Nova+Batida/footer.png) top;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1700px;
    margin: 0 auto;
    min-height: 560px;
}
