
/*THEME*/

/*FONTS*/

/*H1*/
h1 {
  font-family: sourcesanspro-semibold;
  letter-spacing: 0.9rem;
  font-size: 5rem;
  text-transform: uppercase;
}

h1:after{
    content: "";
    display: block;
    margin: 0 auto; 
    width: 10%; 
    padding-top: 5px; 
    border-bottom: 3px solid;
    border-color: white;
}

h2{
  font-family: sourcesanspro-light;
  font-size: 2.5rem;
}
  
h3 {
  font-family: sourcesanspro-semibold;
  letter-spacing: 0.9rem;
  font-size: 2.5rem;
  text-transform: uppercase;
}

h4 {
  font-family: sourcesanspro-semibold;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

p {
  font-family: Karma-regular;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
}

.btn{
  font-family: sourcesanspro-semibold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}

/*TEXT BLOCK*/
.text-block{
    text-align: justify;
}

@media only screen and (min-width: 768px){
.text-block .block-content{
  max-width: 50%;
}
}

/*HERO IMAGE BLOCK*/
.hero-image-block{
  height: 100vh !important;
}

.hero-image-block p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

/*GHOST BLOCK*/

.ghost-blog-block .mb-3,
.ghost-blog-block .post .post-body{
  text-align: center;
}

.ghost-blog-block{
  background-color: #CCDFED;
}

.ghost-blog-block .btn{
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
}


/*PRODUCT ROW*/
.product-row-block h1{
  font-size: 1rem;
}

.product-row-block h1:after{
   margin-left: 0;
}

.product-row-block p:nth-child(2){
  display: none;
}

.product-row-block a{
  color: #000;
  font-family: sourcesanspro-semibold;
  font-size: 1rem;
}

.product-row-block a:hover{
  color: #CCDFED;
  text-decoration: none;
}

/*DUAL PRODUCT BLOCK*/
.dual-product-block .card-img-overlay{
background: rgba(0, 0, 0, 0.3);
}

.dual-product-block h1{
  font-size: 1rem;
  letter-spacing: 0.5rem;
}

.dual-product-block h1:after{
  margin-left: 0;
}

.dual-product-block h1.card-title.mb-0:after{
margin: 0 auto;
}

.dual-product-block h6{
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.dual-product-block .lead{
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

/*HERO PRODUCT BLOCK*/
.hero-product-block h3{
  font-size: 1rem;
}

.hero-product-block .container{
  padding-left: 0;
  padding-right: 0;
}

/*IMAGE GRID*/

.image-grid-block{
  padding-top: 100px;
}
.aspect-1-1:before{
  height: 400px;
}

/*MENU*/
.bg-light{
  background-color: transparent !important;
  z-index: 1030;
}

.hero-image-block:first-of-type{
margin-top: -56px;
}

#menu .navbar-nav {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

.navbar-nav{ 
  font-family: sourcesanspro-semibold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
}
.navbar-light .navbar-nav .nav-link{
  color: #fff;
}

/*LOGO*/
nav#menu .navbar-brand{
 filter: brightness(0) invert(1);
}

/*PRODUCT PAGE*/
#hero.product-hero{
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  margin-top: -56px;
}

.product-hero .block-background{
  height:  100vh;
}
.booking-bar{
border-top: 1px solid #ECEEEF;
}

hr{
  border: none;
}

#sleep .product-hero{
  height: 80vh;
  padding-left: 15px;
  padding-right: 15px;
  background: none;
}

.retreat-hotel-block{
height: 80vh;
}

/*FOOTER*/
#footer{
  background-color: #CCDFED !important;
}

#footer .nav-link{
  color: black;
}

.fixers-stamp{
  padding-top: 50px;
}

/*MAILCHIMP*/
.subscription-block .btn-primary{
  height: 38px;
  background-color: black;
  color: white;
}
#mce-EMAIL{
border: none;
}

#mergeRow-gdpr {
    display: none;
}

/*GALLERY*/
.gallery-figure>img{
  width: 100%;
}

/*MOBILE*/
/*MOBILE MENU*/
.navbar-light .navbar-toggler{
  border: none;
}

.bg-light.open{
  padding-bottom: 60px;
}


@media only screen and (min-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
padding-right: .5rem !important;
padding-left: .5rem !important;
}
}

@media only screen and (max-width: 767px) {

/*MENU*/
div#menu-navbar{
  padding-right: 0;
}

nav.open .btn-primary{
  margin-left: auto;
  margin-right: auto;
}

nav.open .navbar-brand{
  filter: none !important;
}

.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav .nav-item{
      padding-bottom: 10px;
}
.navbar-light .navbar-nav .nav-link{
  color: #000;
}
.bg-light{
  color: white;
}
/*FONTS*/
h1{
font-size: 2.5rem;
}

/*IMAGE GRID*/
.aspect-1-1:before{
  height: 500px;
}
}
