/*NAV*/
body {
  padding-top:3rem;
}
#menu{
    z-index: 1030 !important;
    padding-bottom: 3vh;
    position:fixed;
    width:100vw;
    top:0
  }

  #menu.open{
    padding-bottom: 50px;
  }

  .navbar-nav{
  justify-content: space-evenly;
  width: 100%;
  }

  a.navbar-brand img{
  height: 50px;
  }

  nav#menu .container{
  display: flex;
  flex-flow: row wrap;
  align-self: flex-start;
  }
  @media (max-width:769px) {
      a.navbar-brand img {
          height:30px;
      }

  }

  #menu .nav-link{
  text-transform: capitalize;
  letter-spacing: 4px;
  padding-top: 0.3rem !important;
  padding-right: 0.6rem !important;
  padding-bottom: 0.3rem !important;
  padding-left: 0.6rem !important;
  }
  #book-now a.nav-link {
    width:max-content;
    text-align:center;
  }
  #menu-social-links{
  display: none
  }
  #menu-navbar a{
    color: #fff;
  }
  li#book-now.nav-item{
    border: solid 1px #000 !important;
    width: fit-content;
  }
  li#book-now.nav-item:hover{
    color: #212529 !important;
    background-color: #000 !important;
    border-color: #000;
  }
  li#book-now.nav-item:hover a{
    color: #fff !important;
  }

  /*CUSTOM HTML*/
  .custom-block{
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
  }

  /*HERO IMAGE BLOCK */
  .hero-image-block h1,
  .hero-image-block h2,
  .hero-image-block p{
      color: white !important;
  }

  @media only screen and (min-width: 992px){
   .block.hero-image-block {
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
      height:450px !important;
  }

  /*HERO PRODUCT BLOCK*/

   .block.hero-product-block {
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
  }

   .block.hero-product-block > div.block-content > div > div > div{
       padding-left: 0;
       padding-right: 0;
   }

   .hero-product-block .btn-primary {
      max-width: 200px;
      position: absolute;
      right: 0;
      bottom: 25px;
   }

  /*TEXT BLOCK */
  .text-block .block-content{
      max-width: 720px !important;
      margin-left: auto;
      margin-right: auto;
  }
  }

  /*HERO PRODUCT BLOCK */
  .hero-product-block > div.block-content > div > div > div.col-12.d-flex.flex-column.justify-content-center > div.d-flex.justify-content-between > p{
  display:none;
  }


@media only screen and (min-width: 767px) {
.hero-product-block .img-fluid{
    height: 450px;
    object-fit: cover;
}
}

  /*MAILCHIMP BLOCK*/
  #mergeRow-gdpr{
      display: none;
  }
  @media (max-width:440px) {
    #block-kw9 h1 {
      font-size:1.4rem;
    }
  }

  /*TEXT AND IMAGE BLOCK*/
  .text-and-image-block{
      padding-top: 0 !important;
      padding-bottom: 0 !important;
  }

  .text-and-image-block .block-content{
      max-width: 100%;
  }

  .text-and-image-block .btn{
    margin-top: 40px;
  }

  .image-position-left.text-and-image-block .col-6.col-image.d-none.d-lg-block{
  padding-left: 0px;
  padding-right: 0;
  }

  .image-position-right.text-and-image-block .col-6.col-image.d-none.d-lg-block{
  padding-left: 0;
  padding-right: 0px;
  }

  #block-do7 > div.block-content > div > div.col-12.col-md-6.d-flex.flex-column.justify-content-center.col-text {
    padding: 0% 5%;
  }

  #block-jru > div.block-content > div > div.col-12.col-md-6.d-flex.flex-column.justify-content-center.col-text {
    padding: 0% 5%;
  }

  @media only screen and (min-width: 769px) {
  .text-and-image-block .col-6.col-image.d-none.d-lg-block{
  display: flex !important;
  align-items: center;
  justify-content: center;
  }
  }

  /*REVIEWS*/
  #reviews .col{
        padding-left: 3rem;
        padding-right: 3rem;
        height: auto;
      }

  #reviews a:hover{
      text-decoration: none;
  }

  /*STYLES*/
  #block-3h3,
  #block-8ut,
  #block-py2,
  #block-b8l{
      max-width: 100% !important;
  }

  #block-afq{
      height: 130vh !important;
  }

  /* IMAGE GRID BLOCK */

  .image-grid-block {
    padding-bottom:6rem !important;
  }
  .image-grid-block .image-grid-entry-overlay .d-flex {
    display:block !important;
  }
  .image-grid-block .image-grid-entry-overlay {
    background:transparent;
    opacity:1;
  }
  .image-grid-block .image-grid-entry h2 {
    font-size:2rem;
    margin:45% 0 165px !important;
    min-height:76px;
    text-align:center;
  }
  .image-grid-block .image-grid-entry p {
    color:#000 !important
  }

@media (max-width:769px) {
  .image-grid-block .image-grid-entry h2 {
    min-height:115px;
    margin:45% 0 !important;
  }
  .image-grid-entry {
    margin-bottom:8rem !important
  }
}

  /*MOBILE*/
  @media only screen and (max-width: 767px) {
  #reviews .col{
  min-width: 100%;
  padding-bottom: 2rem;
  }
  }

#block-uph, #block-uph .block-content {
  max-width:100%;
  margin:0;
  padding:0;
}
#block-uph {
  margin-bottom:3rem;
}
.fixers-stamp {
  width: 100%;
  margin: 50px 15px 0;
}

/* Products */

.product-hero {
  height:65vh;
}
#beds h4.mb-4 {
  display:none
}
.retreat-hotel-block {
  height:50vh;
}
.product-page-booking-bar .navbar-nav.ml-auto {
  margin-right:unset !important
}

/*FAQS*/
#block-rpj {
  padding-top: 10px;
  padding-bottom: 10px;
}

#block-hoo {
  padding-top:10px;
}
