/* Style Changes */

#app > div.container.pb-4 > div.d-flex.w-100.pt-3 > section > article > div.row.h-100.no-gutters > div.col-14.col-md-6.push-md-8.fill-white > div > h1 {
    display:none;
}

/* Set button colors */

#app .cart-footer .btn-primary, #app .cart-footer .btn-secondary, #app .input-group.btn .btn:hover {
    background-color:#F0763D !important;
    border-color:#F0763D;
    color:#fff;
}
#app .cart .input-group-btn .btn {
    border-color:#F0763D !important;
    color:#F0763D;
}
#app .cart .number-stepper-round .btn:hover, #app .cart .number-stepper-round .btn:active {
    background-color:#F0763D;
    color:#fff;
}
#app .segment-collapse {
    color:#F0763D;
}


/* Hide default logo and add one centered in middle of nav */

.navbar-full {
    justify-content:center;
}
.navbar-full .logo {
   display:none !important
}
.navbar-full .navbar-brand:before {
  content: '';
  width: 8rem;
  height: 2rem;
  background-image: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Udaya/img/udaya-logo.png);
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
}

/* Set background color and fix tile hidden by that */

#app {
  background:#f7f7f9;
}
#app .block-background {
  z-index:0;
}

/* Chevron Colors */

#app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link:hover, #app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link.active {
  background-color:#F0763D ;
  color:#fff;
}
#app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link:hover:before {
  background-color:#fff;
  border-color:#F0763D;
}
#app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link:hover:after, #app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link.active:after {
  border-left-color:#F0763D;
}
#app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link.active:before {
    border-color:#F0763D;
    border-left-color:transparent;
}
#app .cart-shop-navbar .nav.nav-chevrons .nav-item:nth-child(even) .nav-link:before {
  border-left-color:transparent
}
#app .bookable-list-item:before, .availability-table .row-head:before, #app .availability-table .bookable-ticket-variant:before {
  background-color:#F0763D;
}

/* Fix width of cart for longer sub elements (/room or prices in the 1000's) */

@media (min-width:768px) {
  #app .cart-body .col-10 {
    flex:0 0 38%;
    max-width:38%
  }
}

/* Fix Nav on Mobile */

#cart-shop-nav-mobile .nav-link {
  padding:0 !important;
  margin-right:0 !important;
  font-size:0.9rem !important;
}
#cart-shop-nav-mobile .nav.nav-chevrons .nav-item {
  float:left !important;
  width:100%;
}
@media (max-width:600px) {
  .cart-shop-navbar.sticky {
    position:static;
  }
}

/* REPLACE FOOTER */
ul.list-inline.footer-social-list.my-4,
.footer-list a,
.footer-list,
.logo-mark.x2, 
.footer-list{
  display: none;
}

.footer-main{
    background-color: #411b42 !important;
}

footer > article > ul.list-inline.text-uppercase.mb-4 > li > small > a{
  color: #fff !important;
}

.footer-main .block-content:before {   
  content: '';
      width: 10rem;
      height: 5rem;
      background-image: url('https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Udaya/img/udaya-logo.png');
      background-size: contain;
      display: block;
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: auto;
    }
    