/* Style Changes add any customer specific stuff here */


/* Set fonts for entire shop including ones forced in other CSS files */

#app, .site-shop-nav {
    font-family: Circular-std-book, serif;
  }
  #app h1, #app h2, #app h3, #app h4, #app h5, #app h6, #app .h1, #app .h2, #app .h3, #app .h4, #app .h5, #app .h6 {
    text-transform:uppercase;
    font-family: Circular-std-book, serif;
  }
  #app .bookable-list-item *, #app .factual, #app .cart-footer .btn {
    font-family: Circular-std-book, sans-serif !important;
  }
  #app .bookable-list-item i:before {
    font-family:'Fixers Icons';
  }
  
  /* Set button colors */
  
  #app .cart-footer .btn-primary, #app .cart-footer .btn-secondary, #app .input-group.btn .btn:hover {
      background-color:#00916E !important;
      border-color:#00916E;
      color:#fff;
  }
  #app .cart .input-group-btn .btn {
      border-color:#00916E !important;
      color:#fff;
  }
  #app .cart .number-stepper-round .btn:hover, #app .cart .number-stepper-round .btn:active {
      background-color:#00916E;
      color:#fff;
  }
  #app .segment-collapse {
      color:#00916E;
  }
  
  /* Hide default logo and add one centered in middle of nav */
  
  .navbar-full {
      justify-content:center;
  }
  .navbar-full .logo {
     display:none !important
  }
  .navbar-full .navbar-brand:before {
    content: '';
    width: 8rem;
    height: 4rem;
    background-image: url(https://s3-eu-west-1.amazonaws.com/canvas-themes/Seller+Sites/Rewilding+Retreats/RewildingLogo.png);
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
  }
  
  /* Set background color and fix tile hidden by that */
  
  #app {
    background:#f7f7f9;
  }
  #app .block-background {
    z-index:0;
  }
  
  /* Chevron Colors */
  
  #app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link:hover, #app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link.active {
    background-color:#00916E ;
    color:#fff;
  }
  #app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link:hover:before {
    background-color: transparent;
    border-color:#fff;
  }
  #app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link:hover:after, #app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link.active:after {
    border-left-color:#00916E;
  }
  #app .cart-shop-navbar .nav.nav-chevrons .nav-item .nav-link.active:before {
      border-color:#00916E;
      border-left-color:transparent;
  }
  #app .cart-shop-navbar .nav.nav-chevrons .nav-item:nth-child(even) .nav-link:before {
    border-left-color:transparent
  }
  #app .bookable-list-item:before, .availability-table .row-head:before, #app .availability-table .bookable-ticket-variant:before {
    background-color:#00916E;
  }
  
  /* Fix width of cart for longer sub elements (/room or prices in the 1000's) */
  
  @media (min-width:768px) {
    #app .cart-body .col-10 {
      flex:0 0 38%;
      max-width:38%
    }
  }
  
  /* Fix Nav on Mobile */
  
  #cart-shop-nav-mobile .nav-link {
    padding:0 !important;
    margin-right:0 !important;
    font-size:0.9rem !important;
  }
  #cart-shop-nav-mobile .nav.nav-chevrons .nav-item {
    float:left !important;
    width:100%;
  }
  @media (max-width:600px) {
    .cart-shop-navbar.sticky {
      position:static;
    }
  }

  
  #app p {
    font-size: 0.8rem !important;
}

#app label {
    font-size: 0.7rem !important;
}

#private-accommodation > div > div > div.col-md-11 > div {
    padding: 10px !important;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
#app .col.col-md-8 {
    max-width: 53%;
}
}
