/* Global */

.hideMenu {
    display:none !important;
  }
  #menu {
    background-color: #00916E !important
}
#menu > div > a.navbar-brand > img {
    height: 50px;
}
#menu > div {
    justify-content: center;
}
  .hero-image-block {
    color:#fff !important;
  }
  .hero-image-block h1 {
    font-size:4rem;
    font-family: Bebasneue-bold;
  }
  .hero-product-block .btn h6 {
    font-family: Circular-std-book;
  }
  .text-and-image-block p:first-child {
    margin-top:1em;
    margin-bottom:0;
  }
  .text-and-image-block p:first-child, .btn {
    letter-spacing:0.2rem;
  }
  #mc-embedded-subscribe {
    background: #000;
    color: #fff;
  }
  #mergeRow-gdpr {
    display:none;
  }
  
  #mce-success-response{
    text-align: center;
  }
  
  
  @media (min-width:800px) {
    #mc-embedded-subscribe {
      position: relative;
      left: -2px;
    }
    .text-and-image-block .block-content {
       max-width:100%;
       padding:0;
       overflow:hidden;
    }
    .text-and-image-block h1 {
        text-transform:uppercase;
    }
    .text-and-image-block .col-12.d-flex {
        align-items:center;
    }
    .text-and-image-block .col-12.d-flex * {
        display: block;
        max-width: 400px;
        width:100%;
    }
    .text-and-image-block .col-12.d-flex p {
        text-align:justify;
    }
    .text-and-image-block h1 {
        font-size: 2.5rem;
        position: static;
        text-align: left;
    }
    .text-and-image-block img {
        width: 100%;
    }
    .text-and-image-block, .text-and-image-block .col-12, .text-and-image-block .col-6 {
        padding: 0 !important;
    }
    .text-and-image-block p:first-child {
      margin-top:0;
    }
  }
  
  /* Single Blocks */
  
  #block-skc {
    height:90vh !important;
  }
  #block-skc p {
    font-size: 1.3rem;
    line-height: 1.3;
    margin-top:20px;
  }
  @media (max-width:768px) {
      #block-skc.block .block-content {
          justify-content:flex-end;
      }
      #block-skc.block h1 {
        margin:20vh 0;
      }
      #block-skc .btn {
          color:#fff;
          background:transparent;
          border-color:#fff !important;
      }
  }
  #block-etl {
    height:72vh !important;
  }
  #block-pzy {
    padding:4rem 0 5rem;
  }
  #block-pzy, #block-o9g {
    color:#fff;
  }
  #block-pzyy h1 {
    margin-bottom:2rem;
  }
  
  /* Footer */

#block-pzy {
    padding: 40px;
}
  
  #footer {
    background-color:#00916E !important;
  }
  #footer a {
    color:#fff;
  }
  .fixers-stamp {
    margin:10px 0 0 0 !important;
  }

#footer > div.container {
    text-align: center !important;
    margin-left: auto;
    display: inline-block;
}

#footer > div.container > div.btn-group {
    float: right;
}
  
  /* to consolidate */

  #block-skc h1 {
    font-size: 6rem;
    margin-bottom: 0;
}

#block-skc h3 {
    font-family: Silver-south-script-alt;
    font-size: 5rem;
    margin-top: -30px;
    padding-top: 0px;
    padding-bottom: 2%;
    letter-spacing: 1.5pt;
}

#block-skc .btn {
   letter-spacing: 1pt;
}

#block-uvh p {
    font-family: Circular-std-book;
    text-align: center;
    font-size: 1.4rem;
    color: white;
}

.text-and-image-block h1 {
    letter-spacing: 0.5pt;
}

#block-pzy h1 {
    font-family: Circular-std-book;
}

#block-etl > div.block-content > h2 {
  font-size: 5rem;
  font-family: Bebasneue-bold;
  margin-bottom: -35px;
}

#block-etl > div.block-content > h1 {
  font-size: 4rem;
  font-family: Silver-south-script-alt;
}

#block-skc a:hover {
  text-decoration: none;
  color: white;
  cursor: text;
}

h6 {
  font-family: Circular-std-book;
}

#block-3di h1, #block-bcb h1, #block-zkh h1 {
  font-family: Bebasneue-bold;
}

#block-zfb .btn {
  letter-spacing: 1pt;
}

#block-skc > div.block-content > div.text-center > a:hover {
  background-color: #FCCD0D;
  border: solid 1px #FCCD0D;
}

#mc-embedded-subscribe {
  background-color: #FCCD0D;
  border: solid 1px #FCCD0D;
}

#block-uvh > div.block-content > h2 {
  font-family: Silver-south-script-alt;
  font-size: 4rem;
  color: white;
}

#block-ryz > div.block-content > h1 {
  font-family: Silver-south-script-alt;
  font-size: 4rem;
}

#block-ryz {
  padding-bottom: 0px;
}

#block-zfb {
  padding-top: 30px;
}

#block-uvh > div.block-content {
  max-width: 600px;
}

/*CUSTOM HEADER */

#block-ns7 {
  height:600px !important;
  text-align: center;
}
#block-ns7 p {
  font-size: 1.3rem;
  line-height: 1.3;
  margin-top:20px;
}
@media (max-width:768px) {
    #block-ns7.block .block-content {
        justify-content:flex-end;
    }
    #block-ns7.block h1 {
      margin:20vh 0;
    }
    #block-ns7 .btn {
        color:#fff;
        background:transparent;
        border-color:#fff !important;
    }
    #block-ns7 #custom-header {
      margin-top: 10%;
    }
    #block-ns7 #custom-header > div > img {
      max-width:100%;
      height: auto;
      vertical-align: middle;
    }
}

#block-ns7 .btn {
 letter-spacing: 1pt;
}

#block-ns7 a:hover {
  text-decoration: none;
  color: white;
  cursor: text;
}

#custom-header > div > div > a:hover {
  background-color: #FCCD0D;
border: solid 1px #FCCD0D;
cursor: pointer;
}

#includes > article > ul > li {
  text-transform: capitalize;
}



#block-yu6 h1, #block-mig h1, #block-jpq h1, #block-pim h1, #block-fuo h1, #block-wrz h1 {
  font-family: Bebasneue-bold;
}

#block-mig > div.block-content > div > div.col-12.col-md-6.d-flex.flex-column.justify-content-center.col-text > p:nth-child(1) {
  text-align: left;
}

#block-xtu h1, #block-wfl h1 {
  font-family: Silver-south-script-alt;
  font-size: 4rem;
  color: white;
}

#block-uvh > div.block-content > div > a {
  color: white;
  border: solid 1px white;
}

#block-xgx h1 {
  font-family: Silver-south-script-alt;
  font-size: 4rem;
}

#block-xgx .block-content {
  max-width: 700px;
}

#block-yu6 > div.block-content > div > div.col-12.col-md-6.d-flex.flex-column.justify-content-center.col-text > div > a, #block-mig > div.block-content > div > div.col-12.col-md-6.d-flex.flex-column.justify-content-center.col-text > div > a {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}