/* Global */

#menu {
    display:none;
  }
  .hero-image-block {
    color:#fff !important;
  }
  .hero-image-block h1 {
    font-size:4rem;
    font-family: Bebasneue-bold;
  }
  .hero-product-block .btn h6 {
    font-family: Circular-std-book;
  }
  .text-and-image-block p:first-child {
    margin-top:1em;
    margin-bottom:0;
  }
  .text-and-image-block p:first-child, .btn {
    letter-spacing:0.2rem;
  }
  #mc-embedded-subscribe {
    background: #000;
    color: #fff;
  }
  #mergeRow-gdpr {
    display:none;
  }
  
  #mce-success-response{
    text-align: center;
  }
  
  
  @media (min-width:800px) {
    #mc-embedded-subscribe {
      position: relative;
      left: -2px;
    }
    .text-and-image-block .block-content {
       max-width:100%;
       padding:0;
       overflow:hidden;
    }
    .text-and-image-block h1 {
        text-transform:uppercase;
    }
    .text-and-image-block .col-12.d-flex {
        align-items:center;
    }
    .text-and-image-block .col-12.d-flex * {
        display: block;
        max-width: 400px;
        width:100%;
    }
    .text-and-image-block .col-12.d-flex p {
        text-align:justify;
    }
    .text-and-image-block h1 {
        font-size: 2.5rem;
        position: static;
        text-align: left;
    }
    .text-and-image-block img {
        width: 100%;
    }
    .text-and-image-block, .text-and-image-block .col-12, .text-and-image-block .col-6 {
        padding: 0 !important;
    }
    .text-and-image-block p:first-child {
      margin-top:0;
    }
  }
  
  /* Single Blocks */
  
  #block-skc {
    height:90vh !important;
  }
  #block-skc p {
    font-size: 1.3rem;
    line-height: 1.3;
    margin-top:20px;
  }
  @media (max-width:768px) {
      #block-skc.block .block-content {
          justify-content:flex-end;
      }
      #block-skc.block h1 {
        margin:20vh 0;
      }
      #block-skc .btn {
          color:#fff;
          background:transparent;
          border-color:#fff !important;
      }
  }
  #block-etl {
    height:72vh !important;
  }
  #block-pzy {
    padding:4rem 0 5rem;
  }
  #block-pzy, #block-o9g {
    color:#fff;
  }
  #block-pzyy h1 {
    margin-bottom:2rem;
  }
  
  /* Footer */
  
  #footer {
    background-color:#925c58 !important;
  }
  #footer a {
    color:#fff;
  }
  .fixers-stamp {
    margin:100px 0 0 0 !important;
  }
  
  /* Cart */
  
  @media (max-width:769px) {
    #hero.product-hero {
    padding-top:1rem;
    }
  }
  
  #app h1, #app h4 {
    font-family:Circular-std-book;
    text-transform:capitalize;
  }
  .bookable-list-item:before {
    background:#925c58;
  }
  .site-shop-nav:after {
    content: 'Rewilding Retreats';
    color: #925c58;
    font-family: Circular-std-bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
  }
  .navbar-brand img {
    opacity:0;
  }
  .btn {
    border-color:#925c58 !important;
  }
  .input-group-btn .btn {
    padding:0 10px;
  }
  .bookable-list-item .bookable-list-item-text {
      max-height:150px;
  }
  @media (min-width: 768px) {
  .bookable-list-item {
      height: auto;
  }
  }
  

  /* to consolidate */

  #block-skc h1 {
    font-size: 6rem;
    margin-bottom: 0;
}

#block-skc h3 {
    font-family: Silver-south-script-alt;
    font-size: 5rem;
    margin-top: -50px;
    padding-top: 0px;
    padding-bottom: 2%;
    letter-spacing: 1.5pt;
}

#block-skc .btn {
   letter-spacing: 1pt;
}

#block-vqz {
    background-color: #925c58;
}

#block-vqz h3 {
    font-family: Circular-std-book;
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

#block-vqz h3 span {
    font-family: Silver-south-script-alt;
    text-align: center;
    font-size: 4rem;
}

.text-and-image-block h1 {
    letter-spacing: 0.5pt;
}

#block-pzy h1 {
    font-family: Circular-std-book;
}

#block-etl h1 {
    font-family: Circular-std-book;
}

#block-skc a:hover {
  text-decoration: none;
  color: white;
  cursor: text;
}